---
apiVersion: v1
data:
  {{ cifmw_ceph_client_cluster | default('ceph') }}.client.openstack.keyring: {{ cifmw_ceph_client_key_file_b64.content }}
  {{ cifmw_ceph_client_cluster | default('ceph') }}.conf: {{ cifmw_ceph_client_conf_file_b64.content }}
kind: Secret
metadata:
  name: {{ cifmw_ceph_client_k8s_secret_name }}
  namespace: {{ cifmw_ceph_client_k8s_namespace }}
type: Opaque
