---
# source: sriov/service-values/values.yaml.j2
data:
  ovn:
    ovnController:
      nicMappings:
{% set _original_ovn_mappings = original_content['data']['ovn']['ovnController']['nicMappings'] | default({}) %}
{%  if _original_ovn_mappings | length > 0  %}
        datacentre: {{ cifmw_networking_env_definition.networks.ctlplane.interface_name }}
{%  endif %}
