[identity]
admin_username = admin
admin_password = {{ admin_password.stdout }}
admin_home_project = {{ admin_username.stdout }}
username = horizontest
password = secretadmin
home_project = horizontest
[dashboard]
dashboard_url = {{ dashboard_url.stdout }}/dashboard/
[network]
external_network = {{ network_name.stdout }}
[launch_instance]
image_name = cirros-0.5.2-x86_64-disk.img (15.5 MB)
[volume]
volume_type = {{volume_type.stdout}}
[selenium]
message_implicit_wait=0.5
[storage_backend]
backend_name = {{ backend_name.stdout }}
