---
# source: common/service-values/values.yaml.j2
{% set amphora_image_data = ({'data':
                               {'octavia':
                                 {'amphoraImageContainerImage': cifmw_ci_gen_kustomize_values_octavia_amphora_image}
                               }
                             } if (original_content.data is defined and
                                   original_content.data.octavia is defined)
                             else {}) -%}
{% set final_content = original_content | combine(amphora_image_data, recursive=true) -%}
{{ final_content }}
