---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ cifmw_hive_baremetal.cluster_name }}
  namespace: {{ cifmw_hive_namespace }}
  annotations:
    hive.openshift.io/try-install-once: "true"
spec:
  baseDomain: {{ cifmw_hive_ocp_base_domain }}
  clusterName: {{ cifmw_hive_baremetal.cluster_name }}
  controlPlaneConfig:
    servingCertificates: {}
  platform:
    baremetal:
      libvirtSSHPrivateKeySecretRef:
        name: {{ cifmw_hive_baremetal.cluster_name }}-ssh-pvt-key
  provisioning:
    installConfigSecretRef:
      name: {{ cifmw_hive_baremetal.cluster_name }}-install-config
    imageSetRef:
      name: {{ cifmw_hive_baremetal.cluster_name }}
    sshPrivateKeySecretRef:
      name: {{ cifmw_hive_baremetal.cluster_name }}-ssh-pvt-key
    sshKnownHosts:
      - "{{ known_host_entry }}"
