---
apiVersion: hive.openshift.io/v1
kind: ClusterClaim
metadata:
  name: {{ claim_name }}
  namespace: {{ namespace }}
spec:
  clusterPoolName: {{ cluster_pool }}
{% if endTime is defined and endTime %}
  lifetime: {{ endTime }}
{% endif %}
