---
# source: bgp_dt04_ipv6/edpm-r0-compute-nodeset-values/values.yaml.j2
{% set node_type = "compute"                                                              %}
{% set rack_number = 0                                                                    %}
{% include 'templates/bgp_dt04_ipv6/edpm-common-nodeset-values/common-bgp-edpm-values.yaml.j2' %}
