{% for ipaddresspool in _cifmw_ci_metallb_ipaddresspools %}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  namespace: {{ cifmw_ci_metallb_namespace }}
  name: {{ ipaddresspool.name }}
spec:
  addresses:
{{ ipaddresspool.addresses | to_nice_yaml(width=1337)
    | trim | indent(width=2,first=True) }}
{% endfor %}
