---
# source: bmo01/baremetalhost-values/values.yaml.j2
data:
{% for host in cifmw_networking_env_definition.instances.keys() if host is match('^(leaf0|leaf1).*') %}
{% if cifmw_run_id is defined %}
{% set _host = host | replace('-' + cifmw_run_id, '') %}
{% else %}
{% set _host = host %}
{% endif %}
  {{ _host }}:
    bmc:
      address: {{ cifmw_baremetal_hosts[host].connection }}
      credentialsName: bmc-secret
    bootMACAddress: {{ cifmw_baremetal_hosts[host].nics[0].mac }}
    labels:
      app: openstack
      nodeset: {{ host | split('-') | first }}
    name: {{ host }}
    rootDeviceHints:
      deviceName: /dev/sda
{% endfor %}
