# Default code owners
* @openstack-k8s-operators/cifmw-squad

# Adoption
roles/adoption_osp_deploy @openstack-k8s-operators/adoption-core-reviewers

# BGP
roles/ci_gen_kustomize_values/templates/bgp_dt01 @openstack-k8s-operators/bgp
roles/ci_gen_kustomize_values/templates/bgp-l3-xl @openstack-k8s-operators/bgp
playbooks/bgp-l3-computes-ready.yml @openstack-k8s-operators/bgp
playbooks/bgp @openstack-k8s-operators/bgp
scenarios/reproducers/bgp-l3-xl.yml @openstack-k8s-operators/bgp

# Compliance
roles/compliance @openstack-k8s-operators/security

# DCN
roles/ci_dcn_site @openstack-k8s-operators/dcn
playbooks/dcn.yml @openstack-k8s-operators/dcn
roles/ci_gen_kustomize_values/templates/dcn @openstack-k8s-operators/dcn

# Must gather
roles/os_must_gather @openstack-k8s-operators/must-gather

# NFV
roles/idrac_configuration @openstack-k8s-operators/nfv
roles/switch_config @openstack-k8s-operators/nfv
roles/tofu @eshulman2 @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/nfv-ovs-dpdk-sriov-hci @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-2nodesets @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/sriov @openstack-k8s-operators/nfv

# Polarion
roles/polarion @tosky @jparoly @jirimacku

# Report portal
roles/reportportal @jirimacku @dsariel @sdatko

# Shiftstack
roles/shiftstack @rlobillo @eurijon
roles/ci_gen_kustomize_values/templates/shiftstack @rlobillo @eurijon

# Storage
roles/cifmw_block_device @openstack-k8s-operators/storage
roles/cifmw_ceph_client @openstack-k8s-operators/storage
roles/cifmw_ceph_spec @openstack-k8s-operators/storage
roles/cifmw_cephadm @openstack-k8s-operators/storage
roles/cifmw_create_admin @openstack-k8s-operators/storage
playbooks/ceph.yml @openstack-k8s-operators/storage

# Storage
roles/nat64_appliance @hjensas
roles/ci_lvms_storage @fultonj @fmount @abays
roles/ci_local_storage @fultonj @fmount @abays

# Test
roles/tempest @openstack-k8s-operators/ciops
roles/test_operator @openstack-k8s-operators/ciops

# Uni
roles/ci_gen_kustomize_values/templates/uni* @openstack-k8s-operators/ciops

# Update
roles/update @openstack-k8s-operators/updates

# Validations
roles/validations @bshephar @drosenfe
