---
# source: bgp-l3-xl/edpm-r1-networker-nodeset-values/values.yaml.j2
{% set node_type = "networker"                                                            %}
{% set rack_number = 1                                                                    %}
{% include 'templates/bgp-l3-xl/edpm-common-nodeset-values/common-bgp-edpm-values.yaml.j2' %}
