---
cifmw_ceph_client_fsid: {{ cifmw_cephadm_fsid }}
cifmw_ceph_client_cluster: {{ cifmw_cephadm_cluster }}
cifmw_ceph_client_external_cluster_mon_ips: "{{ cifmw_ceph_client_external_cluster_mon_ips }}"
keys:
{% for cephx in cifmw_cephadm_keys %}
- name: {{ cephx.name }}
  key: {{ cephx.key }}
  caps:
{%  for key, value in cephx.caps.items() %}
    {{ key }}: {{ value }}
{%  endfor %}
{% endfor %}
