[defaults]
action_plugins = ./plugins/action:~/plugins/action:/usr/share/ansible/plugins/action
library = ./plugins/modules:~/plugins/modules:/usr/share/ansible/plugins/modules
roles_path = ~/ci-framework-data/artifacts/roles:./roles:/usr/share/ansible/roles:/etc/ansible/roles:~/.ansible/roles
filter_plugins = ./plugins/filter:~/plugins/filter:/usr/share/ansible/plugins/filter
log_path = ~/ansible.log
# We may consider ansible.builtin.junit
callbacks_enabled = ansible.posix.profile_tasks,ansible.builtin.default
stdout_callback = ansible.builtin.default
callback_format_pretty = yaml
callback_result_format = yaml
show_task_path_on_failure = true
display_args_to_stdout = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/ansible_facts_cache
fact_caching_timeout = 0
inventory = inventory.yml
pipelining = True
any_errors_fatal = True
jinja2_native = True
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=300
