[defaults]
action_plugins = ./plugins:~/plugins/modules:/usr/share/ansible/plugins/modules
roles_path = ./ci_framework/roles:/usr/share/ansible/roles:/etc/ansible/roles:~/.ansible/roles
#log_path = ansible.log
# We may consider ansible.builtin.junit
callbacks_enabled = ansible.posix.profile_tasks
display_args_to_stdout = True
