[defaults]
action_plugins = ./plugins/action:~/plugins/action:/usr/share/ansible/plugins/action
library = ./plugins/modules:~/plugins/modules:/usr/share/ansible/plugins/modules
roles_path = ~/ci-framework-data/artifacts/roles:./roles:/usr/share/ansible/roles:/etc/ansible/roles:~/.ansible/roles
log_path = ~/ansible.log
# We may consider ansible.builtin.junit
callbacks_enabled = ansible.posix.profile_tasks
display_args_to_stdout = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/ansible_facts_cache
fact_caching_timeout = 0
inventory = inventory.yml
pipelining = True
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
