# this is required for the molecule jobs
ansi2html
dogpile.cache>=0.9.2
pytest
pytest-cov
pytest-html
pytest-testinfra
pytest-xdist
mock
molecule>=3.3.4
molecule-plugins[podman]
ruamel.yaml
netaddr
jinja2
jmespath
ansible-core

# Allows to unpin cryptography
pyOpenSSL>=22.1.0

# Work around https://github.com/ansible-community/molecule/issues/3903
ansible-compat<=4.0.0
