ansible>=7.0.0

# Molecule Deps
molecule>=5.1.0,<6.0.0
molecule-plugins[podman]
ruamel.yaml
ansi2html
dogpile.cache>=0.9.2
jmespath # required by devscripts role
netaddr # required by libvirt_manager role

# UT Deps
pytest
pytest-cov
pytest-html
pytest-testinfra
pytest-xdist
mock

# CI Deps
pre-commit # MIT
tox
yamllint
pyspelling
mkdocs-pymdownx-material-extras
