<disk type='volume' device='disk'>
  <driver name='qemu' type='qcow2' />
  <source pool='{{ _pool }}' volume='{{ vol_prefix }}-vol-{{ vol_id }}' />
  <target dev='vd{{ _suffix[vol_id] }}' bus='virtio' />
</disk>
