{%- set ip_suffix = (item|int + 100)|string -%}
apiVersion: dataplane.openstack.org/v1beta1
kind: OpenStackDataPlaneNode
metadata:
  name: edpm-compute-{{ item }}
spec:
  role: edpm-compute
  hostName: edpm-compute-{{ item }}
  ansibleHost: 192.168.122.{{ ip_suffix }}
  node:
    ansibleVars: |
      tenant_ip: 192.168.24.{{ ip_suffix }}
          internalapi_ip: 172.17.0.{{ ip_suffix }}
          storage_ip: 172.18.0.{{ ip_suffix }}
          tenant_ip: 172.10.0.{{ ip_suffix }}
          fqdn_internalapi: edpm-compute-{{ item }}.example.com
    ansibleSSHPrivateKeySecret: cifmw_install_yamls_defaults['DATAPLANE_ANSIBLE_SECRET']
