[{{ cifmw_fdp_update_container_images_repo_name }}]
name={{ cifmw_fdp_update_container_images_repo_name }}
baseurl={{ cifmw_fdp_update_container_images_repo_baseurl }}
enabled={{ cifmw_fdp_update_container_images_repo_enabled }}
gpgcheck={{ cifmw_fdp_update_container_images_repo_gpgcheck }}
priority={{ cifmw_fdp_update_container_images_repo_priority }}
sslverify={{ cifmw_fdp_update_container_images_repo_sslverify }}
