{%- set crd = deploy_crd['content'] |b64decode | from_yaml -%}
{%- set inventory = deploy_inventory['content'] |b64decode | from_yaml -%}
{%- set crd_inventory = crd['spec']['inventory'] | from_yaml -%}
{%- set _ = crd_inventory['allovercloud']['children']['overcloud']['children'].update(inventory) -%}
{%- set _ = crd['spec'].update({'inventory': crd_inventory|string }) -%}
{{ crd | to_nice_yaml(indent=2) }}
