[Unit]
Description=CIFMW DHCP server.
After=network.target

[Service]
ExecStart=/usr/sbin/dnsmasq -C /etc/cifmw-dnsmasq.conf
Type=forking
PIDFile=/run/cifmw-dnsmasq.pid

[Install]
WantedBy=multi-user.target
