{% for key, value in cifmw_ceph_spec_host_to_ip.items() -%}
---
addr: {{ value }}
hostname: {{ key }}
labels:
- _admin
- mgr
- mon
- osd
service_type: host
{% endfor %}
---
placement:
  hosts:
{% for key, value in cifmw_ceph_spec_host_to_ip.items() %}
  - {{ key }}
{% endfor %}
service_id: mon
service_name: mon
service_type: mon
---
placement:
  hosts:
{% for key, value in cifmw_ceph_spec_host_to_ip.items() %}
  - {{ key }}
{% endfor %}
service_id: mgr
service_name: mgr
service_type: mgr
---
{{ cifmw_ceph_spec_data_devices }}
placement:
  hosts:
{% for key, value in cifmw_ceph_spec_host_to_ip.items() %}
  - {{ key }}
{% endfor %}
service_id: default_drive_group
service_name: osd.default_drive_group
service_type: osd
