[global]
osd pool default size = 1
{% if cifmw_ceph_spec_public_network %}
public_network = {{ cifmw_ceph_spec_public_network }}
{% endif %}
{% if cifmw_ceph_spec_private_network %}
cluster_network = {{ cifmw_ceph_spec_private_network }}
{% endif %}
{% if ms_bind_ipv4 is defined %}
ms_bind_ipv4 = {{ ms_bind_ipv4 }}
{% endif %}
{% if ms_bind_ipv6 is defined %}
ms_bind_ipv6 = {{ ms_bind_ipv6 }}
{% endif %}
[mon]
mon_warn_on_pool_no_redundancy = false
