---
# Generated using ci_make from the CI Framework
# https://github.com/openstack-k8s-operators/ci-framework
- hosts: localhost
  gather_facts: false
  tasks:
    - name: Run make
      community.general.make:
        chdir: {{ chdir }}
{% if file is defined %}
        file: {{ file }}
{% endif -%}
{% if jobs is defined %}
        jobs: {{ jobs }}
{% endif -%}
{% if make is defined %}
        make: {{ make }}
{% endif -%}
{% if params is defined %}
        params: {{ params }}
{% endif -%}
{% if target is defined %}
        target: {{ target }}
{% endif -%}
