{% for secret in cifmw_manage_secrets_ospsecrets_list %}
---

kind: Secret
apiVersion: v1
data:
  {% for key, value in secret.data.items() %}
  {{ key }}: {{ value }}
  {% endfor %}
metadata:
  labels:
    {% if secret.label.type is not defined %}
    type: osp-secret
    {% endif %}
    {% for key, value in secret.label.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  name: {{ secret.name }}
  namespace: {{ secret.namespace }}
type: {{ secret.type | default('Opaque') }}
{% endfor %}
