cifmw_install_yamls_vars:
  {{ cifmw_install_yamls_vars_content | to_nice_yaml | replace('\n', '\n  ')}}
cifmw_openstack_operator_images:
  {{ cifmw_openstack_operator_images_content | to_nice_yaml | replace('\n', '\n  ')}}
cifmw_edpm_prepare_extra_vars:
  {{ cifmw_openstack_service_images_content | to_nice_yaml | replace('\n', '\n  ')}}
