---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: openshift-config
  name: hotstack-additional-trusted-ca
data:
{% for ca in cifmw_ocp_agent_installer_ocp_additional_trusted_ca %}
  {{ ca.name }}: |
    {{ _ocp_additional_trusted_ca_map[ca.name] | indent(width=4) }}
{% endfor %}
