---
variant: openshift
version: 4.17.0
metadata:
  name: 90-{{ role | default('master') }}-netifnames-conf
  labels:
    machineconfiguration.openshift.io/role: {{ role | default('master') }}
openshift:
  kernel_arguments:
    - net.ifnames=0
