---
variant: openshift
version: 4.17.0
metadata:
  name: 91-{{ role | default('master') }}-multipath-conf
  labels:
    machineconfiguration.openshift.io/role: {{ role | default('master') }}
storage:
  files:
    - path: /etc/multipath.conf
      overwrite: false
      mode: 344
      user:
        name: root
      group:
        name: root
      contents:
        inline: |
          defaults {
            user_friendly_names    no
            recheck_wwid    yes
            skip_kpartx    yes
            find_multipaths  yes
          }
          blacklist {
          }
systemd:
  units:
    - enabled: true
      name: multipathd.service
