---
apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: brew-registry
spec:
  repositoryDigestMirrors:
    {{ ocp_agent_installer_image_content_source_policy_mirrors | to_nice_yaml(indent=2) | indent(width=4) }}
