---
apiVersion: operator.openshift.io/v1
kind: Network
metadata:
  name: cluster
spec:
  defaultNetwork:
    ovnKubernetesConfig:
      gatewayConfig:
{% if ocp_agent_installer_ovn_k8s_gateway_config_ip_forwarding %}
        ipForwarding: Global
{% endif %}
        routingViaHost: {{ ocp_agent_installer_ovn_k8s_gateway_config_host_routing }}
