unset OS_CLOUD
export OS_IDENTITY_API_VERSION=3
export OS_AUTH_URL="https://{{ keystone_route.resources.0.spec.host }}/v3"
export OS_USER_DOMAIN_NAME="{{ cifmw_ipa_domain }}"
export OS_USERNAME=ipauser1
export OS_PASSWORD="{{ cifmw_ipa_user_password }}"
