parameter_defaults:
  KeystoneAuthMethods: password,token,oauth1,mapped,application_credential,openid
  KeystoneOpenIdcClientId: {{ cifmw_keystone_OIDC_ClientID | quote }}
  KeystoneOpenIdcClientSecret: {{ cifmw_keystone_OIDC_ClientSecret | quote }}
  KeystoneOpenIdcCryptoPassphrase: {{ cifmw_keystone_OIDC_CryptoPassphrase | default('openstack') | quote }}
  KeystoneOpenIdcIdpName: {{ cifmw_keystone_OIDC_provider_name | default('kcIDP') | quote }}
  KeystoneOpenIdcIntrospectionEndpoint: {{ cifmw_keystone_OIDC_OAuthIntrospectionEndpoint | quote }}
  KeystoneOpenIdcProviderMetadataUrl: {{ cifmw_keystone_OIDC_ProviderMetadataURL | quote }}
  KeystoneOpenIdcRemoteIdAttribute: HTTP_OIDC_ISS
