OIDCClaimPrefix "{{ cifmw_federation_keystone_OIDC_ClaimPrefix }}"
OIDCResponseType "{{ cifmw_federation_keystone_OIDC_ResponseType }}"
OIDCScope "{{ cifmw_federation_keystone_OIDC_Scope }}"
OIDCClaimDelimiter "{{ cifmw_federation_keystone_OIDC_ClaimDelimiter }}"
OIDCPassUserInfoAs "{{ cifmw_federation_keystone_OIDC_PassUserInfoAs }}"
OIDCPassClaimsAs "{{ cifmw_federation_keystone_OIDC_PassClaimsAs }}"
OIDCCryptoPassphrase "{{ cifmw_federation_keystone_OIDC_CryptoPassphrase }}"
OIDCMetadataDir "/var/lib/httpd/metadata"
OIDCRedirectURI "{{ cifmw_federation_keystone_url }}/v3/redirect_uri"
LogLevel debug

<LocationMatch "/v3/auth/OS-FEDERATION/identity_providers/{{ cifmw_federation_IdpName }}/protocols/openid/websso">
  AuthType "openid-connect"
  Require valid-user
</LocationMatch>

<Location ~ "/v3/OS-FEDERATION/identity_providers/{{ cifmw_federation_IdpName }}/protocols/openid/auth">
  AuthType oauth20
  Require valid-user
</Location>

<LocationMatch "/v3/auth/OS-FEDERATION/identity_providers/{{ cifmw_federation_IdpName2 }}/protocols/openid/websso">
  AuthType "openid-connect"
  Require valid-user
</LocationMatch>

<Location ~ "/v3/OS-FEDERATION/identity_providers/{{ cifmw_federation_IdpName2 }}/protocols/openid/auth">
  AuthType oauth20
  Require valid-user
</Location>

<Location ~ "/redirect_uri">
  Require valid-user
  AuthType openid-connect
</Location>

<LocationMatch "/v3/auth/OS-FEDERATION/websso/openid">
  AuthType "openid-connect"
  Require valid-user
</LocationMatch>
