OIDCClaimPrefix "{{ cifmw_federation_keystone_OIDC_ClaimPrefix }}"
OIDCResponseType "{{ cifmw_federation_keystone_OIDC_ResponseType }}"
OIDCScope "{{ cifmw_federation_keystone_OIDC_Scope }}"
OIDCClaimDelimiter "{{ cifmw_federation_keystone_OIDC_ClaimDelimiter }}"
OIDCPassUserInfoAs "{{ cifmw_federation_keystone_OIDC_PassUserInfoAs }}"
OIDCPassClaimsAs "{{ cifmw_federation_keystone_OIDC_PassClaimsAs }}"
OIDCProviderMetadataURL "{{ cifmw_federation_keystone_OIDC_ProviderMetadataURL }}"
OIDCClientID "{{ cifmw_federation_keystone_OIDC_ClientID }}"
OIDCClientSecret "{{ cifmw_federation_keystone_OIDC_ClientSecret }}"
OIDCCryptoPassphrase "{{ cifmw_federation_keystone_OIDC_CryptoPassphrase }}"
OIDCOAuthClientID "{{ cifmw_federation_keystone_OIDC_ClientID }}"
OIDCOAuthClientSecret "{{ cifmw_federation_keystone_OIDC_ClientSecret }}"
OIDCOAuthIntrospectionEndpoint "{{ cifmw_federation_keystone_OIDC_OAuthIntrospectionEndpoint }}"
OIDCRedirectURI "{{ cifmw_federation_keystone_url }}/v3/auth/OS-FEDERATION/identity_providers/{{ cifmw_federation_IdpName }}/protocols/openid/websso/"
LogLevel debug

<LocationMatch "/v3/auth/OS-FEDERATION/identity_providers/{{ cifmw_federation_IdpName }}/protocols/openid/websso">
  AuthType "openid-connect"
  Require valid-user
</LocationMatch>

<Location ~ "/v3/OS-FEDERATION/identity_providers/{{ cifmw_federation_IdpName }}/protocols/openid/auth">
  AuthType oauth20
  Require valid-user
</Location>

<LocationMatch "/v3/auth/OS-FEDERATION/websso/openid">
  AuthType "openid-connect"
  Require valid-user
</LocationMatch>
