unset OS_CLOUD
export OS_CACERT=/home/cloud-admin/full-ca-list.crt
export OS_PROJECT_NAME="{{ cifmw_federation_project_name }}"
export OS_PROJECT_DOMAIN_NAME="{{ cifmw_federation_keystone_domain }}"
export OS_AUTH_URL="{{ cifmw_federation_keystone_url }}/v3"
export OS_IDENTITY_API_VERSION=3
export OS_AUTH_PLUGIN=openid
export OS_AUTH_TYPE=v3oidcpassword
export OS_USERNAME="{{ cifmw_federation_keycloak_testuser2_username }}"
export OS_PASSWORD="{{ cifmw_federation_keycloak_testuser2_password }}"
export OS_IDENTITY_PROVIDER="{{ cifmw_federation_IdpName }}"
export OS_CLIENT_ID="{{ cifmw_federation_keystone_OIDC_ClientID }}"
export OS_CLIENT_SECRET="{{ cifmw_federation_keystone_OIDC_ClientSecret }}"
export OS_OPENID_SCOPE="openid profile email"
export OS_PROTOCOL=openid
export OS_ACCESS_TOKEN_TYPE=access_token
export OS_DISCOVERY_ENDPOINT="{{ cifmw_federation_keycloak_url }}/auth/realms/{{ cifmw_federation_keycloak_realm }}/.well-known/openid-configuration"
