[
  {
    "local": [
        {
            "user": {
             "name": "{0}"
        },
        "group": {
            "name": "{{ cifmw_federation_group_name }}",
            "domain": {
                "name": "{{ cifmw_federation_domain }}"
            }
          }
        }
    ],
    "remote": [
      {
        "type": "{{ cifmw_federation_clame_id }}"
      }
    ]
  }
]
