[
{% for realm in cifmw_federation_realms %}
  {
    "local": [
        {
            "user": {
             "name": "{0}"
        },
        "group": {
            "name": "{{ realm.group }}",
            "domain": {
                "name": "{{ realm.domain }}"
            }
          }
        }
    ],
    "remote": [
      {
        "type": "{{ cifmw_federation_clame_id }}"
      }
    ]
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
