hostname {{ ansible_hostname }}
log file /var/log/frr/frr.log
service integrated-vtysh-config
line vty
frr version 7.0

debug bfd peer
debug bfd network
debug bfd zebra

debug bgp graceful-restart
debug bgp neighbor-events
debug bgp updates
debug bgp update-groups

router bgp 65000
  bgp log-neighbor-changes
  bgp graceful-shutdown

  neighbor downlink peer-group
  neighbor downlink remote-as internal
  neighbor downlink bfd
  ! neighbor downlink capability extended-nexthop
{% for iface in router_downlink_ifs %}
  neighbor {{iface}} interface peer-group downlink
{% endfor %}

  neighbor uplink peer-group
  neighbor uplink remote-as external
  neighbor uplink bfd
  ! neighbor uplink capability extended-nexthop
  neighbor {{router_uplink_if}} interface peer-group uplink

  address-family ipv4 unicast
    redistribute connected
    neighbor downlink default-originate
    neighbor downlink prefix-list only-host-prefixes in
    neighbor uplink prefix-list only-default-host-prefixes in
  exit-address-family

  address-family ipv6 unicast
    redistribute connected
    neighbor downlink activate
    neighbor downlink default-originate
    neighbor downlink prefix-list only-host-prefixes in
    neighbor uplink activate
    neighbor uplink prefix-list only-default-host-prefixes in
  exit-address-family

  address-family l2vpn evpn
    neighbor uplink activate
    neighbor downlink activate
    neighbor downlink route-reflector-client
  exit-address-family

ip prefix-list only-default-host-prefixes permit 0.0.0.0/0
ip prefix-list only-default-host-prefixes permit 0.0.0.0/0 ge 32
ip prefix-list only-host-prefixes permit 0.0.0.0/0 ge 32

ipv6 prefix-list only-default-host-prefixes permit ::/0
ipv6 prefix-list only-default-host-prefixes permit ::/0 ge 128
ipv6 prefix-list only-host-prefixes permit ::/0 ge 128

ip nht resolve-via-default
