hostname {{ ansible_hostname }}
log file /var/log/frr/frr.log
service integrated-vtysh-config
line vty
frr version 7.0

debug bfd peer
debug bfd network
debug bfd zebra

debug bgp graceful-restart
debug bgp neighbor-events
debug bgp updates
debug bgp update-groups

{% if router_evpn_vtep | default(false) %}
vrf vrf-l3vni{{ router_evpn_l3vni | default(1) }}
  vni {{ router_evpn_l3vni | default(1) }}
exit-vrf

{% endif %}
router bgp {{ router_asn | default(65000) }}
{% if _router_id %}
  bgp router-id {{_router_id}}
{% endif %}
  bgp log-neighbor-changes
  bgp graceful-shutdown

  neighbor downlink peer-group
  neighbor downlink remote-as {{ router_downlink_remote_as | default('internal') }}
  neighbor downlink bfd
  ! neighbor downlink capability extended-nexthop
{% for iface in router_downlink_ifs %}
  neighbor {{iface}} interface peer-group downlink
{% endfor %}

  neighbor uplink peer-group
  neighbor uplink remote-as {{ router_uplink_remote_as | default('external') }}
  neighbor uplink bfd
  ! neighbor uplink capability extended-nexthop
  neighbor {{router_uplink_if}} interface peer-group uplink

  address-family ipv4 unicast
    redistribute connected
    neighbor downlink default-originate
    neighbor downlink prefix-list only-host-prefixes in
    neighbor uplink prefix-list only-default-host-prefixes in
{% if router_evpn_vtep | default(false) %}
    import vrf vrf-l3vni{{ router_evpn_l3vni | default(1) }}
{% endif %}
  exit-address-family

  address-family ipv6 unicast
    redistribute connected
    neighbor downlink activate
    neighbor downlink default-originate
    neighbor downlink prefix-list only-host-prefixes in
    neighbor uplink activate
    neighbor uplink prefix-list only-default-host-prefixes in
  exit-address-family

  address-family l2vpn evpn
    neighbor uplink activate
    neighbor downlink activate
    neighbor downlink route-reflector-client
    advertise-all-vni
  exit-address-family

{% if router_evpn_vtep | default(false) %}
{# Second BGP instance for the L3VNI VRF: imports the VTEP IP from the default
   VRF and advertises it (only) into EVPN so SNAT'd return traffic can come
   back. route-target must match the EDPM/OVN side (<edpm_asn>:<l3vni>). #}
router bgp {{ router_asn | default(65000) }} vrf vrf-l3vni{{ router_evpn_l3vni | default(1) }}
  bgp router-id {{ router_loopback_ip }}

  address-family ipv4 unicast
    import vrf route-map RM-ADV-VTEP-ONLY
    import vrf default
  exit-address-family

  address-family l2vpn evpn
    advertise ipv4 unicast route-map RM-ADV-VTEP-ONLY
    route-target import {{ router_evpn_edpm_asn | default(65000) }}:{{ router_evpn_l3vni | default(1) }}
    route-target export {{ router_evpn_edpm_asn | default(65000) }}:{{ router_evpn_l3vni | default(1) }}
  exit-address-family

ip prefix-list PL-VTEP-IP seq 5 permit {{ router_loopback_ip }}/32

route-map RM-ADV-VTEP-ONLY permit 10
  match ip address prefix-list PL-VTEP-IP

{% endif %}
ip prefix-list only-default-host-prefixes permit 0.0.0.0/0
ip prefix-list only-default-host-prefixes permit 0.0.0.0/0 ge 32
ip prefix-list only-host-prefixes permit 0.0.0.0/0 ge 32

ipv6 prefix-list only-default-host-prefixes permit ::/0
ipv6 prefix-list only-default-host-prefixes permit ::/0 ge 128
ipv6 prefix-list only-host-prefixes permit ::/0 ge 128

ip nht resolve-via-default
