# The format and values mirror the automation/net-env/dcn.yaml from architecture repository
instances:
    {{ _node_to_add }}:
        hostname: {{ _node_to_add }}
        name: {{ _node_to_add }}
        networks:
            ctlplane{{ az_to_dcn[_az] }}:
                interface_name: eth1
                ip_v4: 192.168.1{{ _subnet[-1] | int  + 1 }}{{ _subnet[-1] | int  + 1 }}.114
                is_trunk_parent: true
                mac_addr: 52:54:09:77:24:c7
                mtu: 1500
                netmask_v4: 255.255.255.0
                network_name: ctlplane{{ az_to_dcn[_az] }}
                prefix_length_v4: 24
                skip_nm: false
            internalapi{{ az_to_dcn[_az] }}:
                interface_name: eth1.{{ _subnet[-1] | int  - 1 }}0
                ip_v4: 172.17.{{ _subnet[-1] | int  - 1 }}0.114
                is_trunk_parent: false
                mac_addr: 52:54:00:74:63:57
                mtu: 1496
                netmask_v4: 255.255.255.0
                network_name: internalapi{{ az_to_dcn[_az] }}
                parent_interface: eth1
                prefix_length_v4: 24
                skip_nm: false
                trunk_parent: ctlplane{{ az_to_dcn[_az] }}
                vlan_id: {{ _subnet[-1] | int  + 1 }}0
            storage{{ az_to_dcn[_az] }}:
                interface_name: eth1.{{ _subnet[-1] | int  + 1 }}1
                ip_v4: 172.18.{{ _subnet[-1] | int  - 1 }}0.114
                is_trunk_parent: false
                mac_addr: 52:54:00:36:ba:ae
                mtu: 1496
                netmask_v4: 255.255.255.0
                network_name: storage{{ az_to_dcn[_az] }}
                parent_interface: eth1
                prefix_length_v4: 24
                skip_nm: false
                trunk_parent: ctlplane{{ az_to_dcn[_az] }}
                vlan_id: {{ _subnet[-1] | int  + 1 }}1
            storagemgmt{{ az_to_dcn[_az] }}:
                interface_name: eth1.{{ _subnet[-1] | int  + 1 }}3
                ip_v4: 172.20.{{ _subnet[-1] | int  - 1 }}0.114
                is_trunk_parent: false
                mac_addr: 52:54:00:7a:e9:e0
                mtu: 1500
                netmask_v4: 255.255.255.0
                network_name: storagemgmt{{ az_to_dcn[_az] }}
                parent_interface: eth1
                prefix_length_v4: 24
                skip_nm: false
                trunk_parent: ctlplane{{ az_to_dcn[_az] }}
                vlan_id: {{ _subnet[-1] | int  + 1 }}3
            tenant{{ az_to_dcn[_az] }}:
                interface_name: eth1.{{ _subnet[-1] | int  + 1 }}2
                ip_v4: 172.19.{{ _subnet[-1] | int  - 1 }}0.114
                is_trunk_parent: false
                mac_addr: 52:54:00:3a:cf:53
                mtu: 1496
                netmask_v4: 255.255.255.0
                network_name: tenant{{ az_to_dcn[_az] }}
                parent_interface: eth1
                prefix_length_v4: 24
                skip_nm: false
                trunk_parent: ctlplane{{ az_to_dcn[_az] }}
                vlan_id: {{ _subnet[-1] | int  + 1 }}2
