---
# source: dcn/values.yaml.j2
apiVersion: v1
data:
    nodeset_name: {{ _group_name }}-edpm
    ceph_conf:
{% for _file in _ceph_files %}
        {{ _file | basename }}: {{ lookup('file', _file, rstrip=False) | b64encode }}
{% endfor %}
    nodeset:
        services:
            - bootstrap
            - configure-network
            - validate-network
            - install-os
            - ceph-hci-pre
            - configure-os
            - ssh-known-hosts
            - run-os
            - reboot-os
            - install-certs
            - ceph-client
            - ovn
            - neutron-metadata-cell{{ _all_azs.index(_az) +1 }}
            - libvirt
            - nova-custom-ceph-{{ _az }}
    nova:
        customDataplaneService:
          name: nova-custom-ceph-{{ _az }}
        ceph:
            conf: |
                [libvirt]
                images_type=rbd
                images_rbd_pool=vms
                images_rbd_ceph_conf=/etc/ceph/{{ _az }}.conf
                images_rbd_glance_store_name={{ _az }}
                images_rbd_glance_copy_poll_interval=15
                images_rbd_glance_copy_timeout=600
                rbd_user=openstack
                rbd_secret_uuid={{ cifmw_ceph_client_fsid }}
                [glance]
                endpoint_override = https://glance-{{ _az }}-internal.openstack.svc:9292
                valid_interfaces = internal
                [cinder]
                cross_az_attach = False
                catalog_info = volumev3:cinderv3:internalURL
        name: ceph-nova-{{ _az }}
        dataSources:
            - configMapRef:
                name: ceph-nova-{{ _az }}
            - secretRef:
                name: nova-cell{{ _all_azs.index(_az) +1 }}-compute-config
            - secretRef:
                name: nova-migration-ssh-key
    neutron-metadata:
        customDataplaneService:
          name: neutron-metadata-cell{{ _all_azs.index(_az) +1 }}
        dataSources:
            - secretRef:
                name: neutron-ovn-metadata-agent-neutron-config
            - secretRef:
                name: nova-cell{{ _all_azs.index(_az) +1 }}-metadata-neutron-config
kind: ConfigMap
metadata:
    annotations:
        config.kubernetes.io/local-config: 'true'
    name: edpm-nodeset-values-post-ceph
