set -euo pipefail
{% for net_args in cifmw_os_net_setup_config %}
oc exec -n openstack openstackclient -- openstack network create \
{%   if net_args.dns_domain is defined %}
    --dns-domain {{ keydns_domain }} \
{%   endif %}
{%   if net_args.external is defined and net_args.external %}
    --external \
{%   endif %}
{%   if net_args.is_default is defined and net_args.is_default %}
    --default \
{%   endif %}
{%   if net_args.mtu is defined %}
    --mtu {{ net_args.mtu }} \
{%   endif %}
{%   if net_args.port_security_enabled is defined and not net_args.port_security_enabled %}
    --disable-port-security \
{%   endif %}
{%   if net_args.provider_network_type is defined %}
    --provider-network-type {{ net_args.provider_network_type }} \
{%   endif %}
{%   if net_args.provider_physical_network is defined %}
    --provider-physical-network {{ net_args.provider_physical_network }} \
{%   endif %}
{%   if net_args.provider_segmentation_id is defined %}
    --provider-segment {{ net_args.provider_segmentation_id }} \
{%   endif %}
{%   if net_args.shared is defined %}
{%     if net_args.shared %}
    --share \
{%     else %}
    --no-share \
{%     endif %}
{%   endif %}
{%   if net_args.is_vlan_transparent is defined and net_args.is_vlan_transparent %}
    --transparent-vlan \
{%   endif %}
    {{ net_args.name }}
{% endfor %}
