set -euo pipefail
{% for subnet_pool_args in cifmw_os_net_subnetpool_config %}
oc exec -n openstack openstackclient -- openstack subnet pool create \
{%      if subnet_pool_args.default_prefix_length is defined %}
    --default-prefix-length {{ subnet_pool_args.default_prefix_length }} \
{%      endif %}
{%      if subnet_pool_args.prefixes is defined %}
    --pool-prefix {{ subnet_pool_args.prefixes }} \
{%      endif %}
{%      if subnet_pool_args.is_default is defined %}
{%          if subnet_pool_args.is_default %}
    --default \
{%          else %}
    --no-default \
{%          endif %}
{%      endif %}
{%   if subnet_pool_args.is_shared is defined %}
{%     if subnet_pool_args.is_shared %}
    --share \
{%     else %}
    --no-share \
{%     endif %}
{%   endif %}
    {{ subnet_pool_args.name }}
{% endfor %}
