{%- set bop_options = cifmw_pkg_build_bop_env_defaults|combine(cifmw_pkg_build_bop_env) -%}
---
- hosts: localhost
  name: Build packages
  gather_facts: true
  vars:
{% for bop_env, value in bop_options.items() %}
    {{ bop_env}}: {{ value }}
{% endfor %}
{% raw %}
    cifmw_project: "{{ lookup('env', 'PROJECT') }}"
    cifmw_bop_openstack_project_path: "{{ ansible_user_dir }}/src/{{ cifmw_project }}"
    cifmw_bop_build_repo_dir: "{{ ansible_user_dir }}/{{ cifmw_project }}"
    cifmw_bop_yum_repos_dir: "{{ ansible_user_dir }}/yum.repos.d"
    cifmw_bop_gating_repo_dest: "{{ ansible_user_dir }}/gating_repo"
    cifmw_bop_openstack_release: "master"
  tasks:
    - name: Gather parameters
      ansible.builtin.set_fact:
        custom_params: >-
          {{ hostvars[inventory_hostname] | dict2items | selectattr("key", "match", "^cifmw_")|list|items2dict }}
    - name: Output params into a file
      ansible.builtin.copy:
        dest: "{{ ansible_user_dir }}/gating_repo/{{ cifmw_project }}_custom_params.yml"
        content: "{{ custom_params | to_nice_yaml }}"
    - name: Build package
      ansible.builtin.include_role:
        name: "build_openstack_packages"
    - name: Collect log
      register: build_logs
      ansible.builtin.find:
        path: "{{ ansible_user_dir }}/{{ cifmw_project }}/DLRN/data/repos"
        patterns: "*.log"
        recurse: true
    - name: Copy logs to volume
      ansible.builtin.copy:
        remote_src: true
        src: "{{ item.path }}"
        dest: "{{ ansible_user_dir }}/logs/{{ item.path | ansible.builtin.basename }}"
      loop: "{{ build_logs.files }}"
{% endraw %}
