ocps:
  hosts:
{% for _host in _data %}
    {{ _host.host.name }}:
      ansible_host: {{ _host.host.ip }}
      ansible_user: core
      ansible_ssh_private_key_file: ~/.ssh/devscripts_key
{% endfor %}
