{% for l2advertisement in _cifmw_ci_metallb_l2advertisements %}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ l2advertisement.name }}
  namespace: {{ cifmw_ci_metallb_namespace }}
spec:
  ipAddressPools:
  - {{ l2advertisement.name }}
  interfaces:
  - {{ l2advertisement.interface }}
{% endfor %}
