apiVersion: v1
metadata:
  name: {{ _cluster_name }}
baseDomain: {{ _base_domain }}
compute:
  - architecture: amd64
    hyperthreading: Enabled
    name: worker
    replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 1
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork:
    - cidr: {{ _machine_network }}
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{ _pull_secret | to_json }}'
sshKey: '{{ _ssh_pub_key }}'
