apiVersion: v1alpha1
metadata:
  name: {{ _cluster_name }}
rendezvousIP: {{ _node_ip }}
hosts:
  - hostname: {{ _cluster_name }}-master-0
    role: master
    interfaces:
      - name: {{ _node_iface }}
        macAddress: {{ _node_mac }}
