---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: 98-lvms-partition
spec:
  config:
    ignition:
      version: 3.4.0
    storage:
      disks:
        - device: "{{ _lvms.device }}"
          partitions:
            - label: "{{ _lvms.label | default('lvmstorage') }}"
              startMiB: {{ _lvms.rootfs_mib | default(150000) | int }}
              sizeMiB: {{ _lvms.size_mib | default(0) | int }}
