{% for nad in _cifmw_ci_multus_nad_list %}
---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  labels:
    osp/net: {{ nad.name }}
  name: {{ nad.name }}
  namespace: {{ cifmw_ci_multus_namespace }}
spec:
  config: |
    {
      "cniVersion": "{{ cifmw_ci_multus_cniversion }}",
      "name": "{{ nad.name }}",
      "type": "{{ nad.type | default(cifmw_ci_multus_default_nad_type) }}",
      "master": "{{ nad.iface }}",
      "ipam": {
        "type": "{{ nad.ipam.type | default(cifmw_ci_multus_default_nad_ipam_type) }}",
        "range": "{{ nad.ipam.range }}",
        "range_start": "{{ nad.ipam.range_start }}",
        "range_end": "{{ nad.ipam.range_end }}"
      }
    }
{% endfor %}
