---
kind: Secret
metadata:
  name: ceph-conf-files-{{ _az }}
  namespace: openstack
type: Opaque
apiVersion: v1
data:
{% for __az in ['az0', _az] %}
  {{ __az ~ _tail_key }}: {{ lookup('file', _head ~ __az ~ _tail_key, rstrip=False) | b64encode }}
  {{ __az ~ _tail_conf }}: {{ lookup('file', _head ~ __az ~ _tail_conf, rstrip=False) | b64encode }}
{% endfor %}
