apiVersion: dataplane.openstack.org/v1beta1
kind: OpenStackDataPlaneDeployment
metadata:
  name: {{ 'remove-node-' + az_to_group_map[_compute_az] }}
spec:
  nodeSets:
    - {{ az_to_group_map[_compute_az] }}-edpm
  servicesOverride:
    - ssh-known-hosts
