---
apiVersion: dataplane.openstack.org/v1beta1
kind: OpenStackDataPlaneService
namespace: {{ cifmw_install_yamls_defaults.NAMESPACE }}
metadata:
  name: nova-custom-ceph
spec:
  label: dataplane-deployment-nova-custom-ceph
  configMaps:
    - ceph-nova
    - nova-extra-config
  secrets:
    - nova-cell1-compute-config
    - nova-migration-ssh-key
  playbook: osp.edpm.nova
