---
apiVersion: v1
kind: Secret
metadata:
  labels:
    service: cinder
    component: cinder-backup
  name: cinder-backup-nfs-secrets
type: Opaque
stringData:
  nfs-secrets.conf: |
    [DEFAULT]
    backup_share = {{ cifmw_nfs_ip }}:{{ '/data/' + cifmw_nfs_shares_cinderbackup }}
