---
apiVersion: v1
kind: Secret
metadata:
  labels:
    service: cinder
    component: cinder-volume
  name: cinder-volume-nfs-secrets
type: Opaque
stringData:
  cinder-volume-nfs-secrets: |
    [nfs]
    nas_host={{ cifmw_nfs_ip }}
    nas_share_path={{ '/data/' + cifmw_nfs_shares_cinder }}
