apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: []
namespace: {{ namespace }}
patches:
- target:
    kind: OpenStackControlPlane
    name: .*
  patch: |-
    - op: replace
      path: /metadata/name
      value: openstack
- target:
    kind: OpenStackControlPlane
    name: .*
  patch: |-
    - op: remove
      path: /metadata/namespace
- path: {{ cinder_operator_path + '/config/samples/backends/nfs/backend.yaml' }}
- path: {{ cifmw_controlplane_kustomizations_path + '/cinder-backup.yaml' }}
