apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: []
namespace: {{ namespace }}
patches:
- target:
    kind: OpenStackControlPlane
    name: .*
  patch: |-
    - op: replace
      path: /spec/glance/template/glanceAPIs/default/replicas
      value: 1
    - op: replace
      path: /spec/extraMounts/0/extraVol/0/volumes/0/nfs/path
      value: {{ '/data/' + cifmw_nfs_shares_glance }}
    - op: replace
      path: /spec/extraMounts/0/extraVol/0/volumes/0/nfs/server
      value: {{ cifmw_nfs_ip }}
