clouds:
  default:
    auth:
      auth_url: {{ (keystone_api == '') | ternary('http://keystone-public-openstack.apps-crc.testing', keystone_api)}}
      project_name: admin
      username: admin
      user_domain_name: Default
      project_domain_name: Default
      password: {{ (os_password == '') | ternary('12345678', os_password) }}
    verify: False
    region_name: regionOne
