---
# source: dcn/edpm-pre-ceph/deployment/values.yaml.j2
apiVersion: v1
data:
    nodeset_name: {{ _group_name }}-edpm
    deployment:
        name: pre-ceph-{{ _group_name }}
    servicesOverride:
        - bootstrap
        - configure-network
        - validate-network
        - install-os
        - ceph-hci-pre
        - configure-os
        - ssh-known-hosts
        - run-os
        - reboot-os
kind: ConfigMap
metadata:
    annotations:
        config.kubernetes.io/local-config: 'true'
    name: edpm-deployment-values
