#!/bin/bash
set -e
pushd {{ run_directory}}
{% for export in exports | dict2items %}
export {{ export.key }}="{{ export.value }}"
{% endfor %}

ansible-playbook -i ~/ci-framework-data/artifacts/zuul_inventory.yml \
{% for extravar in default_extravars %}
  -e {{ extravar }} \
{% endfor %}
{% for extravar in extravars %}
  -e {{ extravar }} \
{% endfor %}
  {{ playbook }} --flush-cache $@
popd
