# Managed by ci-framework/dnsmasq

{% for forwarder in cifmw_dnsmasq_forwarders -%}
server={{ forwarder }}
{% endfor                                     %}

{% for entry in cifmw_dnsmasq_addresses      -%}
address=/{{ entry.fqdn }}/{{ entry.address }}
{% endfor                                     %}
