#!/bin/bash
#
# Script to test control plane by creating a vm in a loop during the
# update. Start sequence.
set -eu
BASE_DIR="${1:-{{ cifmw_update_artifacts_basedir }}}"

continuous_test_wrapper="${BASE_DIR}/continuous-test.sh"

if [ -e "${continuous_test_wrapper}" ]; then
    ${continuous_test_wrapper} -o "${BASE_DIR}" -l control-plane-test -p "${BASE_DIR}/control-plane-test.pid" "${BASE_DIR}/workload_launch_k8s.sh"
fi
