#!/bin/bash

CURRENT_STAGE="$@"

if [ -z "${CURRENT_STAGE}" ]; then
    echo "Please provide a stage"
    CURRENT_STAGE="UNKNOWN"
fi

UPDATE_STAGE_FILE="{{ cifmw_update_artifacts_basedir }}/current_update_stage.log"

echo "$(date +"%Y-%m-%d %H:%M:%S") ${CURRENT_STAGE}" > "${UPDATE_STAGE_FILE}"
