#!/usr/bin/bash


export KUBECONFIG="{{ cifmw_openshift_kubeconfig }}"
export PATH="{{ cifmw_path }}"

cat "{{ cifmw_update_artifacts_basedir }}/workload_launch.sh" | \
    oc rsh -n openstack openstackclient env WKL_MODE=sanityfast bash
