#!/usr/bin/bash

set -e
set -o pipefail             # Make sure we get the failure, as tee
                                # will always succeed.
cat "{{ cifmw_update_artifacts_basedir }}/workload_launch.sh" | \
    podman exec -i lopenstackclient \
           env WKL_MODE=sanityfast bash -i 2>&1
