---
apiVersion: network.openstack.org/v1beta1
kind: NetConfig
metadata:
  name: netconfig
  namespace: {{ cifmw_ci_netconfig_namespace }}
spec:
  networks:
  {% for network in _cifmw_ci_netconfig_dict %}
  {% for key, value in network.items() %}
  - name: {{ key }}
    dnsDomain: {{ value.search_domain }}
    {% if value.mtu is defined %}
    mtu: {{ value.mtu }}
    {% endif %}
    subnets:
    - name: {{ 'subnet-' ~ key }}
      allocationRanges:
      {% for ranges in value.tools.netconfig.ranges %}
      - start: {{ ranges.start }}
        end: {{ ranges.end }}
      {% endfor %}
      {% if value.network_v4 is defined %}
      cidr: {{ value.network_v4 }}
      {% elif value.network_v6 is defined %}
      cidr: {{ value.network_v6 }}
      {% endif %}
      {% if value.excludeAddresses is defined %}
      excludeAddresses:
      {% for address in value.excludeAddresses %}
      - {{ address }}
      {% endfor %}
      {% endif %}
      {% if value.gateway_v4 is defined %}
      gateway: {{ value.gateway_v4 }}
      {% elif value.gateway_v6 is defined %}
      gateway: {{ value.gateway_v6 }}
      {% endif %}
      {% if value.routes is defined %}
      routes:
      {% for route in value.routes %}
      - destination: {{ route.destination }}
        nexthop: {{ route.nexthop }}
      {% endfor %}
      {% endif %}
      {% if value.vlan is defined %}
      vlan: {{ value.vlan }}
      {% endif %}
  {% endfor %}
  {% endfor %}
