---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lvms-test-pvc
  namespace: {{ cifmw_lvms_namespace }}
spec:
  storageClassName: "lvms-{{ cifmw_lvms_storage_class }}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
