---
apiVersion: v1
kind: Pod
metadata:
  name: lvms-test-pod
  namespace: {{ cifmw_lvms_namespace }}
spec:
  containers:
  - name: lvms-test-container
    image: nginx
    volumeMounts:
    - name: lvms-test-volume
      mountPath: /data
  volumes:
  - name: lvms-test-volume
    persistentVolumeClaim:
      claimName: lvms-test-pvc
