apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: sushy-emulator-route
  namespace: {{ cifmw_sushy_emulator_namespace }}
  labels:
    name: sushy-emulator
spec:
  host: sushy-emulator.{{ _ingress_domain.stdout }}
  port:
    targetPort: 8000
  to:
    kind: Service
    name: sushy-emulator-service
