#!/bin/bash -eux

openstack tcib container image build \
{%   if cifmw_build_containers_push_containers|bool %}
     --push \
{%   endif %}
{%   if cifmw_build_containers_authfile_path != None %}
     --authfile {{ cifmw_build_containers_authfile_path }} \
{%   endif %}
{%   if  cifmw_build_containers_distro is defined %}
     --distro {{ cifmw_build_containers_distro }} \
{%   endif %}
{%   if cifmw_build_containers_release is defined %}
     --release {{ cifmw_build_containers_release }} \
{%   endif %}
{%   if cifmw_build_containers_registry_namespace is defined %}
     --namespace {{ cifmw_build_containers_registry_namespace }} \
{%   endif%}
{%   if cifmw_build_containers_push_registry is defined %}
     --registry {{ cifmw_build_containers_push_registry }} \
{%   endif %}
{%   if cifmw_build_containers_rhel_modules is defined %}
     --rhel-modules {{ cifmw_build_containers_rhel_modules | join(",") }} \
{%   endif %}
{%   if cifmw_build_containers_exclude_containers is defined %}
{%   set distroversion = cifmw_build_containers_distro + cifmw_build_containers_dist_major_version %}
{%   for item in cifmw_build_containers_exclude_containers[cifmw_build_containers_openstack_release][distroversion] %}
     --exclude {{ item }} \
{%   endfor %}
{%   endif %}
{%   if cifmw_build_containers_config_file is defined %}
     --config-file {{ cifmw_build_containers_config_file }} \
{%   endif %}
{%   if cifmw_build_containers_config_path is defined %}
     --config-path {{ cifmw_build_containers_config_path }} \
{%   endif %}
     --work-dir {{ cifmw_build_containers_basedir }}/logs \
{%   if cifmw_build_containers_build_timeout is defined %}
     --build-timeout {{ cifmw_build_containers_build_timeout }} \
{%   endif %}
{%   if  cifmw_build_containers_dockerfile_labels is defined %}
{%   for item in cifmw_build_containers_dockerfile_labels %}
     --label {{ item }} \
{%   endfor %}
{%   endif %}
{%   if cifmw_build_containers_volume_mounts is defined %}
{%   for item in cifmw_build_containers_volume_mounts %}
     --volume {{ item }} \
{%   endfor %}
{%   endif %}
     --tcib-extra tcib_release={{ ansible_distribution_major_version }} \
     --tcib-extra tcib_python_version={{ (ansible_distribution_major_version is version('10', '<')) | ternary ('3.9', '3.12') }} \
{%   if cifmw_build_containers_install_from_source | bool %}
     --tcib-extra tcib_package= \
{%   endif %}
{%   if (cifmw_build_containers_extra_config is defined) %}
     --extra-config {{ cifmw_build_containers_basedir }}/extra_config.yaml \
{%   endif %}
{%   if cifmw_build_containers_build_timeout is defined %}
     --build-timeout {{ cifmw_build_containers_build_timeout }} \
{%   endif %}
{%   if cifmw_build_containers_repo_dir is defined %}
     --repo-dir {{ cifmw_build_containers_repo_dir }} \
{%   endif %}
     --tag {{ cifmw_build_containers_image_tag }} \
     --base {{ cifmw_build_containers_containers_base_image }} \
     --prefix {{ cifmw_build_containers_container_name_prefix }}
