#jinja2: trim_blocks:True, lstrip_blocks:True
{% if ':' in _ctlplane_ip %}
{%   set _ctlplane_ip_cidr = 128 %}
{% else %}
{%   set _ctlplane_ip_cidr = 32 %}
{%   endif %}
{% if ':' in _ctlplane_vip %}
{%   set _ctlplane_vip_cidr = 128 %}
{% else %}
{%   set _ctlplane_vip_cidr = 32 %}
{%   endif %}
network_config:
- type: ovs_bridge
  name: br-ctlplane
  mtu: {{ _interface_mtu }}
  use_dhcp: false
  dns_servers:
  {% for _dns_ip in dns_server | default([]) %}
  - {{ _dns_ip }}
  {% endfor %}
  - {{ _gateway_ip }}
  domain: []
  addresses:
  - ip_netmask: {{ _ctlplane_ip }}/{{ _ctlplane_cidr }}
  - ip_netmask: {{ _ctlplane_ip }}/{{ _ctlplane_ip_cidr }}
  - ip_netmask: {{ _ctlplane_vip }}/{{ _ctlplane_vip_cidr }}
  {% if cifmw_adoption_osp_deploy_scenario.undercloud.routes is defined %}
  {%- for route in cifmw_adoption_osp_deploy_scenario.undercloud.routes %}
  routes:
    - ip_netmask: {{ route.ip_netmask }}
      next_hop: {{ route.next_hop }}
      default: {{ route.default }}
  {% endfor %}
  {%- else %}
  routes: []
  {% endif %}
  members:
  - type: interface
    name: {{ cifmw_adoption_osp_deploy_scenario.undercloud.os_net_config_iface |
             default('nic2') }}
    mtu: {{ _interface_mtu }}
    # force the MAC address of the bridge to this interface
    primary: true
  {% for network_name, net in _undercloud_net.networks.items() %}
  {% if 'vlan_id' in net %}
  # {{ network_name }}
  - type: vlan
    mtu: {{ net.mtu }}
    vlan_id: {{ net.vlan_id }}
    addresses:
    - ip_netmask: {{ net[ip_version|default('ip_v4')] }}/{{ net[prefix_length_version|default('prefix_length_v4')] }}
    - ip_netmask: {{ net[ip_version|default('ip_v4')].split('.')[:3] | join('.') }}.2/32
    routes: []
    {% endif %}
  {% endfor %}
