#jinja2: trim_blocks:True, lstrip_blocks:True
network_config:
- type: ovs_bridge
  name: br-ex
  mtu: {{ _interface_mtu }}
  use_dhcp: false
  dns_servers:
  {% for dns_ip in dns_server | default([]) %}
  - {{ _dns_ip }}
  {% endfor %}
  - {{ _gateway_ip }}
  domain: []
  addresses:
  - ip_netmask: {{ _ctlplane_ip }}/{{ _ctlplane_cidr }}
  {% if _stack.routes is defined %}
  {%- for route in stack.routes %}
  routes:
    - ip_netmask: {{ route.ip_netmask }}
      next_hop: {{ route.next_hop }}
      default: {{ route.default }}
  {% endfor %}
  {%- else %}
  routes: []
  {% endif %}
  members:
  - type: interface
    name: {{ _stack.os_net_config_iface |
             default('nic2') }}
    mtu: {{ _interface_mtu }}
    # force the MAC address of the bridge to this interface
    primary: true
  {% for network_name, net in _node_net.networks.items() %}
  {% if 'vlan_id' in net %}
  # {{ network_name }}
  - type: vlan
    mtu: {{ net.mtu }}
    vlan_id: {{ net.vlan_id }}
    addresses:
    - ip_netmask: {{ net[ip_version|default('ip_v4')] }}/{{ net[prefix_length_version|default('prefix_length_v4')] }}
    routes: []
    {% endif %}
  {% endfor %}
{% if 'ironic' in _node_net.networks.keys () %}
{% set net = _node_net.networks.ironic %}
# ironic
- type: ovs_bridge
  name: br-baremetal
  addresses:
  - ip_netmask: {{ net[ip_version|default('ip_v4')] }}/{{ net[prefix_length_version|default('prefix_length_v4')] }}
  use_dhcp: false
  routes: []
  members:
  - type: interface
    name: {{ _stack.os_net_config_ironic_iface |
             default('nic3') }}
    mtu: {{ net.mtu }}
    primary: true
{% endif %}
