---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ cifmw_external_dns_cert_name }}
  namespace: {{ cifmw_external_dns_ns }}
spec:
  duration: {{ cifmw_external_dns_cert_issuer_duration }}
  issuerRef: {{ cifmw_external_dns_cert_issuer_ref }}
  secretName: {{ cifmw_external_dns_cert_name }}
  dnsNames:
{% set dicts_list = [cifmw_external_dns_vip_int,
                     cifmw_external_dns_vip_ext,
                     cifmw_external_dns_extra_subj_alt_names] %}
{% for d in dicts_list %}
{% for host in d.values() %}
  - {{ host }}
{% endfor %}
{% endfor %}
