---
apiVersion: network.openstack.org/v1beta1
kind: DNSData
metadata:
  labels: {{ cifmw_external_dns_labels }}
  name: {{ cifmw_external_dns_name }}
  namespace: {{ cifmw_external_dns_ns }}
spec:
  dnsDataLabelSelectorValue: dnsdata
  hosts:
{% set dicts_list = [cifmw_external_dns_vip_int,
                     cifmw_external_dns_vip_ext,
                     cifmw_external_dns_extra_subj_alt_names] %}
{% for d in dicts_list %}
{% for ip, host in d.items() %}
  - hostnames:
    - {{ host }}
    ip: {{ ip }}
{% endfor %}
{% endfor %}
