---
# source: bmo01/nodeset-values/values.yaml.j2
data:
  nodeset0:
    timesync_ntp_servers:
      - hostname: "{{ cifmw_ci_gen_kustomize_values_ntp_srv | default('pool.ntp.org') }}"
    edpm_bootstrap_command: |
      # root CA
      pushd /etc/pki/ca-trust/source/anchors/
      curl -LOk {{ cifmw_install_ca_url }}
      update-ca-trust
      popd

      # install rhos-release repos
      dnf --nogpgcheck install -y {{ cifmw_repo_setup_rhos_release_rpm }}
      rhos-release {{ cifmw_repo_setup_rhos_release_args }}
  nodeset1:
    timesync_ntp_servers:
      - hostname: "{{ cifmw_ci_gen_kustomize_values_ntp_srv | default('pool.ntp.org') }}"
    edpm_bootstrap_command: |
      # root CA
      pushd /etc/pki/ca-trust/source/anchors/
      curl -LOk {{ cifmw_install_ca_url }}
      update-ca-trust
      popd

      # install rhos-release repos
      dnf --nogpgcheck install -y {{ cifmw_repo_setup_rhos_release_rpm }}
      rhos-release {{ cifmw_repo_setup_rhos_release_args }}
