# source: common/olm-values/values.yaml.j2
data:
    openstack-operator-image: {{ cifmw_ci_gen_kustomize_values_ooi_image | default('quay.io/openstack-k8s-operators/openstack-operator-index:latest', true) }}
{% if cifmw_ci_gen_kustomize_values_sub_channel is defined %}
    openstack-operator-channel: {{ cifmw_ci_gen_kustomize_values_sub_channel }}
{% endif %}
{% if cifmw_ci_gen_kustomize_values_deployment_version is defined %}
{% if cifmw_ci_gen_kustomize_values_deployment_version not in ['v1.0.3', 'v1.0.6'] %}
    openstack-operator-version: openstack-operator.{{ cifmw_ci_gen_kustomize_values_deployment_version }}
{% endif %}
{% endif %}
{% if cifmw_ci_gen_kustomize_values_installplan_approval is defined %}
    openstack-operator-installplanapproval: {{ cifmw_ci_gen_kustomize_values_installplan_approval }}
{% endif %}
