apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ cifmw_hsm_login_secret }}"
  namespace: "{{ cifmw_hsm_luna_cert_secret_namespace }}"
data:
  "hsmLogin": "{{ cifmw_hsm_partition_password | string | b64encode }}"
