---
# Mainly used to override the defaults set in .config/molecule/
# By default, it uses the "config_podman.yml" - in CI, it will use
# "config_local.yml".
#
# Do not add host_vars and group_vars within this config file.
# To add host_vars, uncomment the links: host_vars config and add
# host_vars file in roles/{{ role_name }}/molecule/host_vars/instance.yml.
#
# To add group_vars, uncomment platforms section so that
# the molecule test is added to required groups. After that,
# create group_vars/molecule/{{ role_name }}_molecule.yml file
# and add group_vars specific to this molecule test there.
#
# Reason is, you can either have links to group_vars/host_vars
# or add group_vars/host_vars directly. Ref [1]
# [1] https://ansible.readthedocs.io/projects/molecule/configuration/#provisioner-pre-ansible-native
log: true

#platforms:
#  - name: instance
#    groups:
#      - molecule
#      - {{ role_name }}_molecule

provisioner:
  name: ansible
  log: true
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
#  inventory:
#    links:
#      host_vars: ./host_vars/
