apiVersion: v1
kind: ConfigMap
metadata:
  name: sushy-emulator-config
  namespace: {{ cifmw_sushy_emulator_namespace }}
data:
  htpasswd: |
    {{ _htpasswd.stdout }}
  config: |
{% filter indent(width=4, first=True) %}
{% include 'config_conf.j2' %}
{% endfilter %}
