apiVersion: v1
kind: Secret
metadata:
    name: sushy-emulator-secret
    namespace: {{ cifmw_sushy_emulator_namespace }}
data:
    ssh-publickey: |
        {{ _sushy_emulator_key.public_key | b64encode | default('""') | trim }}
    ssh-privatekey: |
        {{ _sushy_emulator_private_key.content | default('""') | trim }}
    ssh-known-hosts: |
        {{ _cifmw_sushy_emulator_ssh_known_hosts_b64.stdout | default('""') | trim }}
{% if cifmw_sushy_emulator_driver == 'openstack' %}
---
apiVersion: v1
kind: Secret
metadata:
    name: os-client-config
    namespace: {{ cifmw_sushy_emulator_namespace }}
data:
    openstack-clouds-yaml: |
        {{ _cifmw_sushy_emulator_driver_openstack_client_config_file_b64 | default('""') | trim }}
{% endif %}
