# Don't modify this file.
# If you need apply custom molecule changes, please edit ci/config/molecule.yaml
{% for role_name in role_names | sort %}
- job:
    name: cifmw-molecule-{{ role_name }}
    parent: cifmw-molecule-base
    vars:
      TEST_RUN: {{ role_name }}
    files:
      - ^common-requirements.txt
      - ^test-requirements.txt
      - ^roles/{{ role_name }}/.*
      - ^ci/playbooks/molecule.*
      - ^.config/molecule/.*
{% endfor %}
