{% set want_list = ['defaults', 'files', 'handlers', 'library',
                    'lookup_plugins', 'module_utils', 'molecule',
                    'tasks', 'templates', 'vars'] -%}
{% for role_name in role_names | sort %}
- job:
    name: cifmw-molecule-{{ role_name }}
    parent: cifmw-molecule-base
    vars:
      TEST_RUN: {{ role_name }}
    files:
      - ^common-requirements.txt
      - ^test-requirements.txt
      - ^roles/{{ role_name }}/{{ want_list | sort | join('|') }}.*
      - ^ci/playbooks/molecule.*
      - ^.config/molecule/.*
{% endfor %}
