{% for role_name in role_names | sort %}
- job:
    name: cifmw-molecule-{{ role_name }}
    parent: cifmw-molecule-base
    vars:
      TEST_RUN: {{ role_name }}
    files:
      - ^ansible-requirements.txt
      - ^molecule-requirements.txt
      - ^ci_framework/roles/{{ role_name }}/(?!meta|README).*
      - ^ci/playbooks/molecule.*
{% endfor %}
