{% for role_name in role_names | sort %}
- job:
    name: cifmw-molecule-{{ role_name }}
    parent: cifmw-molecule-noop
    files:
      - ^common-requirements.txt
      - ^test-requirements.txt
      - ^roles/{{ role_name }}/.*
      - ^ci/playbooks/molecule.*
      - ^.config/molecule/.*
{% endfor %}
