apiVersion: v1
baseDomain: '{{ cifmw_ocp_ipi_config.base_domain }}'
metadata:
  name: '{{ cifmw_ocp_ipi_config.cluster_name }}'
networking:
  clusterNetwork:
    - cidr: '{{ cifmw_ocp_ipi_config.cluster_network_cidr }}'
      hostPrefix: {{ cifmw_ocp_ipi_config.cluster_network_host_prefix }}
  serviceNetwork:
      - '{{ cifmw_ocp_ipi_config.service_network }}'
  machineNetwork:
    - cidr: '{{ cifmw_ocp_ipi_config.machine_network_cidr }}'
  networkType: '{{ cifmw_ocp_ipi_config.networok_type }}'
bootstrapProvisioningIP: '{{ cifmw_ocp_ipi_config.provisioning_network_ip }}'
clusterProvisioningIP: '{{ cifmw_ocp_ipi_config.provisioning_network_vip }}'
provisioningDHCPRange: '{{ cifmw_ocp_ipi_config.provisioning_network_dhcp_range }}'
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 3
  platform:
    baremetal:
platform:
  baremetal:
    bootstrapOSImage: '{{ _botstrap_os_image_url.content | ansible.builtin.b64decode }}'
    apiVIPs:
{% for api_vip in cifmw_ocp_ipi_config.api_vips %}
      - {{ api_vip }}
{% endfor %}
{% for ingress_vip in cifmw_ocp_ipi_config.ingress_vips %}
    ingressVIPs:
      - {{ ingress_vip }}
{% endfor %}
    provisioningNetworkCIDR: '{{ cifmw_ocp_ipi_config.provisioning_network_cidr }}'
    bootstrapExternalStaticIP: '{{ cifmw_ocp_ipi_config.bootstrap_external_static_ip }}'
    bootstrapExternalStaticGateway: '{{ cifmw_ocp_ipi_config.bootstrap_external_static_gateway }}'
    bootstrapExternalStaticDNS: '{{ cifmw_ocp_ipi_config.bootstrap_external_static_gateway }}'
    hosts: {{ cifmw_ocp_ipi_hosts }}
pullSecret: {{ _pull_secret.content | ansible.builtin.b64decode | trim | to_json }}
sshKey: {{ _id_ocp_ipi_ssh_key.public_key }}
