---
interfaces:
  - name: baremetal
    profile-name: baremetal
    type: linux-bridge
    state: up
    mtu: 1500
    bridge:
      options:
        stp:
          enabled: false
      port:
        - name: baremetal0
    ipv4:
{% if cifmw_ocp_ipi_baremetal_ip_address is ansible.utils.ipv4  %}
      enabled: true
      dhcp: false
      address:
        - ip: '{{ cifmw_ocp_ipi_baremetal_ip_address }}'
          prefix-length: {{ cifmw_ocp_ipi_baremetal_prefix }}
{% else %}
      enabled: false
{% endif %}
    ipv6:
{% if cifmw_ocp_ipi_baremetal_ip_address is ansible.utils.ipv6 %}
      enabled: true
      autoconf: false
      dhcp: false
      address:
        - ip: '{{ cifmw_ocp_ipi_baremetal_ip_address }}'
          prefix-length: {{ cifmw_ocp_ipi_baremetal_prefix }}
{% else %}
      enabled: false
{% endif %}
  - name: provisioning
    profile-name: provisioning
    type: linux-bridge
    state: up
    mtu: 1500
    bridge:
      options:
        stp:
          enabled: false
      port:
        - name: provisioning0
    ipv4:
      enabled: false
    ipv6:
      enabled: false
