---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ node.name }}-bmc-creds
  namespace: openshift-machine-api
data:
  username: {{ node.bmc.username }}
  password: {{ node.bmc.password }}
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ node.name }}
  namespace: openshift-machine-api
  annotations:
    inspect.metal3.io: disabled
  labels:
    app: openstack
spec:
  bmc:
    address: "{{ node.bmc.address }}"
    credentialsName: {{ node.name }}-bmc-creds
    disableCertificateVerification: true
  bootMACAddress: {{ node.boot_mac_addr }}
  bootMode: {{ node.boot_mode }}
  online: false
{% if extra_spec is defined %}
  {{ extra_spec }}
{% endif %}
