#!/bin/bash

# OpenShift Container Platform configuration template
# Refer https://github.com/openshift-metal3/dev-scripts/blob/master/config_example.sh
#
set +x
export CI_TOKEN=$(cat {{ cifmw_devscripts_repo_dir }}/ci_token)
set -x

{% for item in cifmw_devscripts_config %}
{% if not (cifmw_devscripts_sno and item in [
    'ip_stack', 'network_type', 'agent_e2e_test_scenario',
    'scenario', 'disable_ha',
    'num_masters', 'num_workers',
    'nodes_platform']) %}
export {{ item.upper() }}="{{ cifmw_devscripts_config[item] }}"
{% endif %}
{% endfor %}

{% if cifmw_devscripts_sno %}
# https://github.com/openshift-metal3/dev-scripts/blob/master/agent/docs/none-and-external-platform.md
# https://github.com/openshift-metal3/dev-scripts/blob/master/common.sh#L470
# SNO Configuration
export IP_STACK="v4"
export NETWORK_TYPE="OVNKubernetes"
export AGENT_E2E_TEST_SCENARIO="SNO_IPV4"
export AGENT_PLATFORM_TYPE="none"
export SCENARIO="sno"
export DISABLE_HA=true
export NUM_MASTERS=1
export NUM_WORKERS=0
# According to the example,
# https://github.com/openshift-metal3/dev-scripts/blob/master/config_example.sh#L886
# it NODES_PLATFORM should be none.
export NODES_PLATFORM="none"
{% endif %}
