#!/bin/bash

# OpenShift Container Platform configuration template
# Refer https://github.com/openshift-metal3/dev-scripts/blob/master/config_example.sh
#
set +x
export CI_TOKEN=$(cat {{ cifmw_devscripts_repo_dir }}/ci_token)
set -x

{% for item in cifmw_devscripts_config %}
export {{ item.upper() }}="{{ cifmw_devscripts_config[item] }}"
{% endfor %}
