#!/bin/bash

# OpenShift Container Platform configuration template
# Refer https://github.com/openshift-metal3/dev-scripts/blob/master/config_example.sh
#
set +x
export CI_TOKEN=$(cat {{ cifmw_devscripts_repo_dir }}/ci_token)
set -x

{% for item in cifmw_devscripts_config %}
{% if not (cifmw_devscripts_sno and item in [
    'ip_stack', 'network_type', 'agent_e2e_test_scenario',
    'scenario', 'disable_ha',
    'num_masters', 'num_workers',
    'nodes_platform']) %}
export {{ item.upper() }}="{{ cifmw_devscripts_config[item] }}"
{% endif %}
{% endfor %}

{% if cifmw_devscripts_sno %}
# https://github.com/openshift-metal3/dev-scripts/blob/master/agent/docs/none-and-external-platform.md
# https://github.com/openshift-metal3/dev-scripts/blob/master/common.sh#L470
# SNO Configuration
export IP_STACK="v4"
export NETWORK_TYPE="OVNKubernetes"
export AGENT_E2E_TEST_SCENARIO="SNO_IPV4"
export AGENT_PLATFORM_TYPE="none"
export SCENARIO="sno"
export DISABLE_HA=true
export NUM_MASTERS=1
export NUM_WORKERS=0

export API_VIP="192.168.111.10"
export INGRESS_VIP="192.168.111.4"
export PROVISIONING_HOST_IP="192.168.111.1"
export CLUSTER_DHCP_RANGE="192.168.111.10,192.168.111.100"
export DNS_IP="{{ ansible_default_ipv4.address }}"

# export DISABLE_VIP=true
# export SKIP_API_CHECK=true
# export CLUSTER_PROVISION_TIMEOUT=120

#export SNO_NODE_IP="192.168.111.10"
#export CLUSTER_PRO_IF="enp1s0"
#export USE_ASSISTED_INSTALLER_AGENT="true"
#export MANAGE_BR_BRIDGE="y"
#export MANAGE_INT_BRIDGE="y"

{% endif %}
