#!/bin/bash

# OpenShift Container Platform configuration template
# Refer https://github.com/openshift-metal3/dev-scripts/blob/master/config_example.sh
#
set +x
export CI_TOKEN=$(cat {{ cifmw_devscripts_repo_dir }}/ci_token)
set -x


{% if cifmw_devscripts_sno %}
{% for item in ['working_dir', 'assets_extra_folder', 'openshift_release_type',
    'openshift_version', 'cluster_name', 'base_domain', 'ntp_servers',
    'ssh_pub_key', 'external_bootstrap_mac', 'vm_extradisks', 'vm_extradisks_list' ] %}
export {{ item.upper() }}="{{ cifmw_devscripts_config[item] }}"
{% endfor %}
# https://github.com/openshift-metal3/dev-scripts/blob/master/agent/docs/none-and-external-platform.md
# https://github.com/openshift-metal3/dev-scripts/blob/master/common.sh#L470
# SNO Configuration
export IP_STACK="v4"
export AGENT_E2E_TEST_SCENARIO="SNO_IPV4"
export AGENT_PLATFORM_TYPE="none"
export NUM_MASTERS=1
export NUM_WORKERS=0

# https://github.com/openshift-metal3/dev-scripts/blob/master/network.sh
# https://github.com/openshift-metal3/dev-scripts/blob/master/vm_setup_vars.yml
# it needs to be 192.168.111.80, with 122.0/24 it fails.
# EXTERNAL_SUBNET_V4="192.168.122.0/24"
{% else %}

{% for item in cifmw_devscripts_config %}
export {{ item.upper() }}="{{ cifmw_devscripts_config[item] }}"
{% endfor %}

{% endif %}
