---
networkConfig:
  interfaces:
    - name: enp2s0
      type: ethernet
      state: up
{% if cifmw_devscripts_config.ip_stack != 'ipv6' %}
      ipv4:
        address:
          - ip: "{{ ipv4_address }}"
            prefix-length: "{{ ipv4_prefix }}"
        enabled: true
{% endif %}
{% if cifmw_devscripts_config.ip_stack != 'ipv4' %}
      ipv6:
        address:
          - ip: "{{ ipv6_address }}"
            prefix-length: "{{ ipv6_prefix }}"
        enabled: true
{% endif %}
  dns-resolver:
    config:
      server:
        - "{{ dns_server }}"
  routes:
    config:
      - destination: 0.0.0.0/0
        next-hop-address: "{{ net_gateway }}"
        next-hop-interface: enp2s0
