---
# source:  sriov/edpm-nodeset-values/values.yaml.j2
{% set instances_names = []                                                            %}
{% set _original_nodeset = (original_content.data | default({})).nodeset | default({}) %}
{% set _original_nodes = _original_nodeset.nodes | default({})                         %}
{% set _original_services = _original_nodeset['services'] | default([])                %}
{% for _inst in cifmw_baremetal_hosts.keys()                                           %}
{%   set _ = instances_names.append(_inst)                                             %}
{% endfor                                                                              %}
data:
  baremetalSetTemplate:
    ctlplaneInterface: {{ cifmw_ci_gen_kustomize_values_ctlplane_interface }}
  ssh_keys:
    authorized: {{ cifmw_ci_gen_kustomize_values_ssh_authorizedkeys | b64encode }}
    private: {{ cifmw_ci_gen_kustomize_values_ssh_private_key | b64encode }}
    public: {{ cifmw_ci_gen_kustomize_values_ssh_public_key | b64encode }}
  nova:
    migration:
      ssh_keys:
        private: {{ cifmw_ci_gen_kustomize_values_migration_priv_key | b64encode }}
        public: {{ cifmw_ci_gen_kustomize_values_migration_pub_key | b64encode }}
  nodeset:
    ansible:
      ansibleVars:
        edpm_fips_mode: "{{ 'enabled' if cifmw_fips_enabled|default(false)|bool else 'check' }}"
        timesync_ntp_servers:
          - hostname: "{{ cifmw_ci_gen_kustomize_values_ntp_srv | default('pool.ntp.org') }}"
{% if cifmw_ci_gen_kustomize_values_sshd_ranges | default([]) | length > 0             %}
        edpm_sshd_allowed_ranges:
{%   for range in cifmw_ci_gen_kustomize_values_sshd_ranges                            %}
          - "{{ range }}"
{%   endfor                                                                            %}
{% endif                                                                               %}
    nodes:
{% for instance in instances_names                                                     %}
      edpm-{{ instance }}:
        hostName: {{ instance }}
{% endfor                                                                              %}
{% if ('repo-setup' not in (_original_nodeset['services'] | default([]))) and
      ('repo-setup' in ci_gen_kustomize_edpm_nodeset_predeployed_services)             %}
    services:
      - "repo-setup"
{%   for svc in _original_services                                                     %}
      - "{{ svc }}"
{%   endfor                                                                            %}
{% endif                                                                               %}
