# Managed by ci-framework/radvd
# Configuration for {{ cifmw_radvd_network.name }} network

interface {{ cifmw_radvd_network.name }}
{
        AdvSendAdvert {{ (cifmw_radvd_network.adv_send_advert | default(true)) | ternary('on', 'off') }};
{% if cifmw_radvd_network.adv_managed_flag is defined %}
        AdvManagedFlag {{ cifmw_radvd_network.adv_managed_flag | ternary('on', 'off') }};
{% endif %}
{% if cifmw_radvd_network.adv_other_config_flag is defined %}
        AdvOtherConfigFlag {{ cifmw_radvd_network.adv_other_config_flag | ternary('on', 'off') }};
{% endif %}
{% if cifmw_radvd_network.adv_ra_solicited_unicast is defined %}
        AdvRASolicitedUnicast {{ cifmw_radvd_network.adv_ra_solicited_unicast | ternary('on', 'off') }};
{% endif %}
{% if cifmw_radvd_network.adv_link_mtu is defined %}
        AdvLinkMTU {{ cifmw_radvd_network.adv_link_mtu }};
{% endif %}
{% if cifmw_radvd_network.min_rtr_adv_interval is defined %}
        MinRtrAdvInterval {{ cifmw_radvd_network.min_rtr_adv_interval }};
{% endif %}
{% if cifmw_radvd_network.max_rtr_adv_interval is defined %}
        MaxRtrAdvInterval {{ cifmw_radvd_network.max_rtr_adv_interval }};
{% endif %}
{% for prefix in cifmw_radvd_network.prefixes | default([]) %}
        prefix {{ prefix.network }}
        {
                AdvOnLink {{ (prefix.adv_on_link | default(true)) | ternary('on', 'off') }};
                AdvAutonomous {{ (prefix.adv_autonomous | default(true)) | ternary('on', 'off') }};
{% if prefix.adv_router_addr is defined %}
                AdvRouterAddr {{ prefix.adv_router_addr | ternary('on', 'off') }};
{% endif %}
{% if prefix.adv_valid_lifetime is defined %}
                AdvValidLifetime {{ prefix.adv_valid_lifetime }};
{% endif %}
{% if prefix.adv_preferred_lifetime is defined %}
                AdvPreferredLifetime {{ prefix.adv_preferred_lifetime }};
{% endif %}
        };

{% endfor %}
{% for route in cifmw_radvd_network.routes | default([]) %}
        route {{ route.network }}
        {
{% if route.adv_route_preference is defined %}
                AdvRoutePreference {{ route.adv_route_preference }};
{% endif %}
{% if route.adv_route_lifetime is defined %}
                AdvRouteLifetime {{ route.adv_route_lifetime }};
{% endif %}
        };

{% endfor %}
{% for rdnss in cifmw_radvd_network.rdnss | default([]) %}
        RDNSS {{ rdnss.servers | join(' ') }}
        {
{% if rdnss.adv_rdnss_lifetime is defined %}
                AdvRDNSSLifetime {{ rdnss.adv_rdnss_lifetime }};
{% endif %}
        };

{% endfor %}
};
