{
    "targets": {
        "reportportal": {
            "config": {
                 "hostname": "{{ cifmw_reportportal_instance }}",
                 "project": "{{ cifmw_reportportal_project }}"
            },
            "processing" : {
                "disable_testitem_updater": "true",
                "property_filter": [
{% for item in cifmw_reportportal_property_filter %}
                  "{{ item }}"{{ "" if loop.last else "," }}
{% endfor %}
                ],
                "launch": {
                   "name": "{{ cifmw_reportportal_launch_name }}",
                   "description": "{{ cifmw_reportportal_launch_description }}",
                   "attributes": [
{% for item in cifmw_reportportal_launch_attributes %}
                       {
                         "key": "{{ item.key }}", "value": "{{ item.value }}"
                       }{{ "" if loop.last else "," }}
{% endfor %}
                   ]
                }
            }
        }
    }
}
