extends: default

rules:
  line-length:
    max: 120
    level: warning
  
  indentation:
    spaces: 2
    indent-sequences: true
  
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
    check-keys: false
  
  comments:
    min-spaces-from-content: 1
  
  comments-indentation: false
  
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  
  braces:
    max-spaces-inside: 1
    max-spaces-inside-empty: 0
  
  brackets:
    max-spaces-inside: 1
    max-spaces-inside-empty: 0

ignore: |
  .molecule/
  .pytest_cache/
  __pycache__/
  *.pyc 