---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: 91-mpath-conf
  labels:
    machineconfiguration.openshift.io/role: {{ ocp_role }}
    service: cinder
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      files:
        - path: /etc/multipath.conf
          overwrite: false
          mode: 344
          user:
            name: root
          group:
            name: root
          contents:
            source: data:text/plain;charset=utf-8;base64,{{ _mpath_conf }}
    systemd:
      units:
        - enabled: true
          name: multipathd.service
