---
apiVersion: operator.openshift.io/v1
kind: Network
metadata:
  name: cluster
spec:
  defaultNetwork:
    ovnKubernetesConfig:
      gatewayConfig:
{% if ip_forward %}
        ipForwarding: Global
{% endif %}
{% if host_routing %}
        routingViaHost: true
{% endif %}
