---
apiVersion: lvm.topolvm.io/v1alpha1
kind: LVMCluster
metadata:
  name: {{ cifmw_lvms_cluster_name }}
  namespace: {{ cifmw_lvms_namespace }}
spec:
  {% if cifmw_lvms_storage_tolerations -%}
  tolerations:
  {% for item in cifmw_lvms_storage_tolerations -%}
  - key: "{{ item['key'] }}"
    value: "{{ item['value'] }}"
    effect: "{{ item['effect'] }}"
  {% endfor -%}
  {% endif -%}
  storage:
    deviceClasses:
    - name: {{ cifmw_lvms_storage_class }}
      fstype: {{ cifmw_lvms_fstype }}
      default: true
      deviceSelector:
        paths:
        {% for item in cifmw_lvms_disk_list -%}
        - {{ item }}
        {% endfor -%}
        forceWipeDevicesAndDestroyAllData: {{ cifmw_lvms_force_wipe_devices_and_destroy_all_data }}
      thinPoolConfig:
        name: {{ cifmw_lvms_thin_pool_name }}
        sizePercent: {{ cifmw_lvms_thin_pool_size_percent }}
        overprovisionRatio: {{ cifmw_lvms_thin_pool_overprovision_ratio }}
