---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ cifmw_lvms_namespace }}-operatorgroup
  namespace: {{ cifmw_lvms_namespace }}
spec:
  targetNamespaces:
  - {{ cifmw_lvms_namespace }}
