[{{ cifmw_upic_repo_name }}]
name={{ cifmw_upic_repo_name }}
baseurl={{ cifmw_upic_repo_baseurl }}
enabled={{ cifmw_upic_repo_enabled }}
gpgcheck={{ cifmw_upic_repo_gpgcheck }}
priority={{ cifmw_upic_repo_priority }}
sslverify={{ cifmw_upic_repo_sslverify }}
