# The IPv6 ip subnet, for example: 2620:cf:cf:fc00::/64
NAT64_IPV6_PREFIX={{ cifmw_nat64_ipv6_prefix }}

# The IPv6 host address, for example: 2620:cf:cf:fc00::2
NAT64_HOST_IPV6={{ cifmw_nat64_appliance_ipv6_address }}

# The IPv6 address used for the tayga tun interface, for example: 2620:cf:cf:fc00::3
NAT64_TAYGA_IPV6={{ cifmw_nat64_ipv6_tayga_address }}
