<network>
  <name>{{ cifmw_nat64_network_ipv4_name }}</name>
  <forward
    mode='nat'
  />
  <bridge
    name='{{ cifmw_nat64_network_ipv4_bridge_name }}'
    stp='on'
    delay='0'
  />
  <ip
    family='ipv4'
    address='{{ cifmw_nat64_network_ipv4_address }}'
    prefix='{{ cifmw_nat64_network_ipv4_prefix }}'
  />
</network>
