<network>
  <name>{{ cifmw_nat64_network_ipv6_name }}</name>
  <forward
    mode='open'
  />
  <bridge
    name='{{ cifmw_nat64_network_ipv6_bridge_name }}'
    stp='on'
    delay='0'
  />
  <ip
    family='ipv6'
    address='{{ cifmw_nat64_network_ipv6_address }}'
    prefix='{{ cifmw_nat64_network_ipv6_prefix }}'
  />
  <route
    family='ipv6'
    address='fc00:abcd:abcd:fcff::'
    prefix='96'
    gateway='{{ cifmw_nat64_appliance_ipv6_address }}'
  />
  <dns
    enable='no'
  />
</network>
