---
- hosts: localhost
  gather_facts: true
  tasks:
{% raw %}
    - name: Hello world
      ansible.builtin.debug:
        msg: 'Hello {{ foo }}'

    - name: Debug some vars from file
      ansible.builtin.debug:
        msg: "{{ star }} and {{ other_star }} are on a boat..."

    - name: Generate some output file
      ansible.builtin.copy:
        dest: "{{ cifmw_basedir }}/artifacts/{{ step }}_{{ hook_name }}.yml"
        content: |
{% endraw %}
          ceph_uuid: {{ item }}
