---
- hosts: localhost
  gather_facts: true
  tasks:
{% raw %}
    - name: Check if fake file exists
      ansible.builtin.stat:
        path: /tmp/molecule-retry-fake-file
      register: _molecule_fake_file

    - name: Create a file, if it does not exists
      when: not _molecule_fake_file.stat.exists
      ansible.builtin.file:
        path: /tmp/molecule-retry-fake-file
        state: touch

    - name: Finish if file does not exists
      when: not _molecule_fake_file.stat.exists
      ansible.builtin.meta: end_play

    - name: Print Hello world if file exists
      when: _molecule_fake_file.stat.exists
      ansible.builtin.debug:
        msg: 'Hello retry world'
{% endraw %}
