---
# source: bmo01/network-values/values.yaml.j2
{% set _ipv = cifmw_ci_gen_kustomize_values_ip_version_var_mapping %}
{% set ns = namespace(ocp_index=0) %}
data:
{% for host in cifmw_networking_env_definition.instances.keys() -%}
{%   if host is match('^(ocp|crc).*') %}
  node_{{ ns.ocp_index }}:
{%     set ns.ocp_index = ns.ocp_index+1 %}
    name: {{ cifmw_networking_env_definition.instances[host]['hostname'] }}
{%     for network in cifmw_networking_env_definition.instances[host]['networks'].values() %}
    {{ network.network_name }}_ip: {{ network[_ipv.ip_vX] }}
{%     endfor %}
{%   endif %}
{% endfor %}
