[Unit]
Description=DHCP and DNS for IPv6 NAT64 lab (IPv4 service)
Documentation=man:dnsmasq(8)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/dnsmasq --keep-in-foreground --conf-file=/etc/nat64/v4-dnsmasq/dnsmasq.conf --pid-file=/run/nat64-v4-dnsmasq.pid
StandardError=null
PIDFile=/run/nat64-v4-dnsmasq.pid

[Install]
WantedBy=multi-user.target
