[Unit]
Description=Configure nat64-appliance
Requires=cloud-init.service network-online.target
After=cloud-init.service network-online.target NetworkManager.service
Wants=cloud-init.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/sbin/configure-nat64
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
