#!/bin/bash
set -e
rally db ensure
rally deployment create --fromenv --name {{ cifmw_rally_deployment_name }}
rally task start {{ _cifmw_rally_container_tasks_dir }}/{{ cifmw_rally_task_file }} \
  --task-args '{"concurrency": {{ cifmw_rally_concurrency }}}' \
  {{ cifmw_rally_task_extra_args }}
rally task report --out {{ _cifmw_rally_container_reports_dir }}/rally-report.html
rally task report --json \
  --out {{ _cifmw_rally_container_reports_dir }}/rally-report.json
