#!/bin/bash
set -e
rally db ensure
rally deployment create --fromenv --name {{ cifmw_rally_deployment_name }}
{% if cifmw_rally_task_file | length > 0 %}
rally task start {{ _cifmw_rally_container_tasks_dir }}/{{ cifmw_rally_task_file | basename }} \
{% else %}
rally task start /rally/xrally_openstack/rally-jobs/{{ cifmw_rally_openstack_tests }}.yaml \
{% endif %}
  --task-args '{"concurrency": {{ cifmw_rally_concurrency }}}' \
  {{ cifmw_rally_task_extra_args }} || RALLY_TASK_RC=$?
rally task report --out {{ _cifmw_rally_container_reports_dir }}/rally-report.html || true
rally task report --json \
  --out {{ _cifmw_rally_container_reports_dir }}/rally-report.json || true
exit ${RALLY_TASK_RC:-0}
