---
# Resource Modifier ConfigMap for Velero Restores
apiVersion: v1
kind: ConfigMap
metadata:
  name: openstack-restore-resource-modifiers
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
data:
  resource-modifiers.yaml: |
    version: v1
    resourceModifierRules:
    - conditions:
        groupResource: "*"
      mergePatches:
      - patchData: |
          metadata:
            ownerReferences: null
            annotations:
              kubectl.kubernetes.io/last-applied-configuration: null
    - conditions:
        groupResource: openstackcontrolplanes.core.openstack.org
      mergePatches:
      - patchData: |
          metadata:
            annotations:
              kubectl.kubernetes.io/last-applied-configuration: null
              core.openstack.org/deployment-stage: "infrastructure-only"
    - conditions:
        groupResource: instancehas.instanceha.openstack.org
      mergePatches:
      - patchData: |
          spec:
            disabled: "True"
{% if cifmw_backup_restore_baremetal | bool %}
    - conditions:
        groupResource: baremetalhosts.metal3.io
      mergePatches:
      - patchData: |
          metadata:
            annotations:
              baremetalhost.metal3.io/paused: ""
    - conditions:
        groupResource: openstackbaremetalsets.baremetal.openstack.org
      mergePatches:
      - patchData: |
          metadata:
            annotations:
              openstack.org/skip-webhook-validation: ""
              openstack.org/paused: ""
{% endif %}
