---
# Resource Modifier ConfigMap for Velero Restores
apiVersion: v1
kind: ConfigMap
metadata:
  name: openstack-restore-resource-modifiers
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
data:
  resource-modifiers.yaml: |
    version: v1
    resourceModifierRules:
    - conditions:
        groupResource: "*"
        namespaces:
        - {{ cifmw_backup_restore_namespace }}
      mergePatches:
      - patchData: |
          metadata:
            ownerReferences: null
            annotations:
              kubectl.kubernetes.io/last-applied-configuration: null
    - conditions:
        groupResource: openstackcontrolplanes.core.openstack.org
        namespaces:
        - {{ cifmw_backup_restore_namespace }}
      mergePatches:
      - patchData: |
          metadata:
            annotations:
              kubectl.kubernetes.io/last-applied-configuration: null
              core.openstack.org/deployment-stage: "infrastructure-only"
    - conditions:
        groupResource: instancehas.instanceha.openstack.org
        namespaces:
        - {{ cifmw_backup_restore_namespace }}
      mergePatches:
      - patchData: |
          spec:
            disabled: "True"
