---
# GaleraRestore CRs for database restore
{% for backup_name in galerabackup_list %}
apiVersion: mariadb.openstack.org/v1beta1
kind: GaleraRestore
metadata:
  name: {{ backup_name }}restore
  namespace: {{ cifmw_backup_restore_namespace }}
spec:
  backupSource: {{ backup_name }}
{% if not loop.last %}
---
{% endif %}
{% endfor %}
