---
# Restore Order 60: DataPlane Resources
apiVersion: velero.io/v1
kind: Restore
metadata:
  name: openstack-restore-60-dataplane-{{ restore_suffix }}
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
spec:
  backupName: {{ resources_backup_name }}
  includedNamespaces:
  - {{ cifmw_backup_restore_namespace }}
  labelSelector:
    matchLabels:
      backup.openstack.org/restore: "true"
      backup.openstack.org/restore-order: "60"
  resourceModifier:
    kind: ConfigMap
    name: openstack-restore-resource-modifiers
