---
# Post-Restore EDPM Deployment
apiVersion: dataplane.openstack.org/v1beta1
kind: OpenStackDataPlaneDeployment
metadata:
  name: edpm-deployment-post-restore-{{ restore_suffix }}
  namespace: {{ cifmw_backup_restore_namespace }}
spec:
  nodeSets:
{% for nodeset in nodeset_names_list %}
  - {{ nodeset }}
{% endfor %}
