---
# OpenStack PVC Backup
# Backs up PVCs labeled with backup.openstack.org/backup=true using CSI snapshots.
apiVersion: velero.io/v1
kind: Backup
metadata:
  name: openstack-backup-pvcs-{{ cifmw_backup_restore_backup_name_suffix }}
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
  annotations:
    openstack.org/csv-version: "{{ _backup_csv_version }}"
    openstack.org/catalog-source-image: "{{ _backup_catalog_image }}"
    openstack.org/operator-image: "{{ _backup_operator_image }}"
spec:
  includedNamespaces:
  - {{ cifmw_backup_restore_namespace }}
  labelSelector:
    matchLabels:
      backup.openstack.org/backup: "true"
  snapshotVolumes: true
  defaultVolumesToFsBackup: false
{% if cifmw_backup_restore_snapshot_move_data | bool %}
  snapshotMoveData: true
{% endif %}
  volumeSnapshotLocations: []
  storageLocation: {{ cifmw_backup_restore_storage_location }}
  ttl: {{ cifmw_backup_restore_backup_ttl }}
