---
# OpenStack Resources Backup (excluding PVCs)
# Backs up all resources in the OpenStack namespace except PVCs and PVs.
apiVersion: velero.io/v1
kind: Backup
metadata:
  name: openstack-backup-resources-{{ cifmw_backup_restore_backup_name_suffix }}
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
  annotations:
    openstack.org/csv-version: "{{ _backup_csv_version }}"
    openstack.org/catalog-source-image: "{{ _backup_catalog_image }}"
    openstack.org/operator-image: "{{ _backup_operator_image }}"
spec:
  includedNamespaces:
  - {{ cifmw_backup_restore_namespace }}
  excludedResources:
  - persistentvolumeclaims
  - persistentvolumes
  storageLocation: {{ cifmw_backup_restore_storage_location }}
  ttl: {{ cifmw_backup_restore_backup_ttl }}
