---
# Baremetal Hosts Backup (separate namespace)
# Backs up BaremetalHosts, Secrets, and ConfigMaps from the BMH namespace.
apiVersion: velero.io/v1
kind: Backup
metadata:
  name: openstack-backup-bmh-{{ cifmw_backup_restore_backup_name_suffix }}
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
  annotations:
    openstack.org/csv-version: "{{ _backup_csv_version }}"
    openstack.org/catalog-source-image: "{{ _backup_catalog_image }}"
    openstack.org/operator-image: "{{ _backup_operator_image }}"
spec:
  includedNamespaces:
  - {{ cifmw_backup_restore_bmh_namespace }}
  includedResources:
  - baremetalhosts.metal3.io
  - secrets
  - configmaps
  storageLocation: {{ cifmw_backup_restore_storage_location }}
  ttl: {{ cifmw_backup_restore_backup_ttl }}
