apiVersion: mariadb.openstack.org/v1beta1
kind: GaleraBackup
metadata:
  name: {{ galera_instance_name }}
  namespace: {{ cifmw_backup_restore_namespace }}
spec:
  databaseInstance: {{ galera_instance_name }}
{% if _galera_storage_class %}
  storageClass: {{ _galera_storage_class }}
{% endif %}
  storageRequest: {{ cifmw_backup_restore_galera_storage_request }}
  transferStorage:
    storageRequest: {{ cifmw_backup_restore_galera_transfer_storage_request }}
