---
# Restore OpenStackBaremetalSets with status
apiVersion: velero.io/v1
kind: Restore
metadata:
  name: openstack-restore-55-bmset-{{ restore_suffix }}
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
spec:
  backupName: {{ resources_backup_name }}
  includedNamespaces:
  - {{ cifmw_backup_restore_namespace }}
  includedResources:
  - openstackbaremetalsets.baremetal.openstack.org
  - openstackprovisionservers.baremetal.openstack.org
  restoreStatus:
    includedResources:
    - openstackbaremetalsets.baremetal.openstack.org
  resourceModifier:
    kind: ConfigMap
    name: openstack-restore-resource-modifiers
