---
apiVersion: hive.openshift.io/v1
kind: ClusterClaim
metadata:
  name: {{ claim_name }}
  namespace: {{ namespace }}
spec:
  clusterPoolName: {{ cluster_pool }}
{% if end_time is defined and end_time %}
  lifetime: {{ end_time }}
{% endif %}
