apiVersion: core.openstack.org/v1beta1
kind: OpenStackVersion
metadata:
  name: {{ cifmw_update_containers_metadata }}
  namespace: {{ cifmw_update_containers_namespace }}
spec:
  customContainerImages:
{% if cifmw_update_containers_openstack | bool %}
    aodhAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-aodh-api:{{ cifmw_update_containers_tag }}
    aodhEvaluatorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-aodh-evaluator:{{ cifmw_update_containers_tag }}
    aodhListenerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-aodh-listener:{{ cifmw_update_containers_tag }}
    aodhNotifierImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-aodh-notifier:{{ cifmw_update_containers_tag }}
    barbicanAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-barbican-api:{{ cifmw_update_containers_barbican_custom_tag | default(cifmw_update_containers_tag) }}
    barbicanKeystoneListenerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-barbican-keystone-listener:{{ cifmw_update_containers_tag }}
    barbicanWorkerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-barbican-worker:{{ cifmw_update_containers_barbican_custom_tag | default(cifmw_update_containers_tag) }}
    ceilometerCentralImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ceilometer-central:{{ cifmw_update_containers_tag }}
    ceilometerComputeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ceilometer-compute:{{ cifmw_update_containers_tag }}
    ceilometerIpmiImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ceilometer-ipmi:{{ cifmw_update_containers_tag }}
    ceilometerNotificationImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ceilometer-notification:{{ cifmw_update_containers_tag }}
    cinderAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-cinder-api:{{ cifmw_update_containers_tag }}
    cinderBackupImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-cinder-backup:{{ cifmw_update_containers_tag }}
    cinderSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-cinder-scheduler:{{ cifmw_update_containers_tag }}
    cinderVolumeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-cinder-volume:{{ cifmw_update_containers_tag }}
    designateAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-designate-api:{{ cifmw_update_containers_tag }}
    designateBackendbind9Image: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-designate-backend-bind9:{{ cifmw_update_containers_tag }}
    designateCentralImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-designate-central:{{ cifmw_update_containers_tag }}
    designateMdnsImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-designate-mdns:{{ cifmw_update_containers_tag }}
    designateProducerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-designate-producer:{{ cifmw_update_containers_tag }}
    designateUnboundImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-unbound:{{ cifmw_update_containers_tag }}
    designateWorkerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-designate-worker:{{ cifmw_update_containers_tag }}
    edpmFrrImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-frr:{{ cifmw_update_containers_tag }}
    edpmIscsidImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-iscsid:{{ cifmw_update_containers_tag }}
    edpmLogrotateCrondImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-cron:{{ cifmw_update_containers_tag }}
    edpmMultipathdImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-multipathd:{{ cifmw_update_containers_tag }}
    edpmNeutronDhcpAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-neutron-dhcp-agent:{{ cifmw_update_containers_tag }}
    edpmNeutronMetadataAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-neutron-metadata-agent-ovn:{{ cifmw_update_containers_tag }}
    edpmNeutronOvnAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-neutron-ovn-agent:{{ cifmw_update_containers_tag }}
    edpmNeutronSriovAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-neutron-sriov-agent:{{ cifmw_update_containers_tag }}
    edpmOvnBgpAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ovn-bgp-agent:{{ cifmw_update_containers_tag }}
    glanceAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-glance-api:{{ cifmw_update_containers_tag }}
    heatAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-heat-api:{{ cifmw_update_containers_tag }}
    heatCfnapiImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-heat-api-cfn:{{ cifmw_update_containers_tag }}
    heatEngineImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-heat-engine:{{ cifmw_update_containers_tag }}
    horizonImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-horizon:{{ cifmw_update_containers_tag }}
    infraDnsmasqImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-neutron-server:{{ cifmw_update_containers_tag }}
    infraMemcachedImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-memcached:{{ cifmw_update_containers_tag }}
    ironicAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ironic-api:{{ cifmw_update_containers_tag }}
    ironicConductorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ironic-conductor:{{ cifmw_update_containers_tag }}
    ironicInspectorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ironic-inspector:{{ cifmw_update_containers_tag }}
    ironicNeutronAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ironic-neutron-agent:{{ cifmw_update_containers_tag }}
    ironicPxeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ironic-pxe:{{ cifmw_update_containers_tag }}
    keystoneAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-keystone:{{ cifmw_update_containers_tag }}
    manilaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-manila-api:{{ cifmw_update_containers_tag }}
    manilaSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-manila-scheduler:{{ cifmw_update_containers_tag }}
    manilaShareImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-manila-share:{{ cifmw_update_containers_tag }}
    mariadbImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-mariadb:{{ cifmw_update_containers_tag }}
    neutronAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-neutron-server:{{ cifmw_update_containers_tag }}
    novaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-nova-api:{{ cifmw_update_containers_tag }}
    novaComputeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-nova-compute:{{ cifmw_update_containers_tag }}
    novaConductorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-nova-conductor:{{ cifmw_update_containers_tag }}
    novaNovncImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-nova-novncproxy:{{ cifmw_update_containers_tag }}
    novaSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-nova-scheduler:{{ cifmw_update_containers_tag }}
    octaviaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-octavia-api:{{ cifmw_update_containers_tag }}
    octaviaHealthmanagerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-octavia-health-manager:{{ cifmw_update_containers_tag }}
    octaviaHousekeepingImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-octavia-housekeeping:{{ cifmw_update_containers_tag }}
    octaviaWorkerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-octavia-worker:{{ cifmw_update_containers_tag }}
    openstackClientImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-openstackclient:{{ cifmw_update_containers_tag }}
    ovnControllerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ovn-controller:{{ cifmw_update_containers_tag }}
    ovnControllerOvsImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ovn-base:{{ cifmw_update_containers_tag }}
    ovnNbDbclusterImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ovn-nb-db-server:{{ cifmw_update_containers_tag }}
    ovnNorthdImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ovn-northd:{{ cifmw_update_containers_tag }}
    ovnSbDbclusterImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-ovn-sb-db-server:{{ cifmw_update_containers_tag }}
    placementAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-placement-api:{{ cifmw_update_containers_tag }}
    rabbitmqImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-rabbitmq:{{ cifmw_update_containers_tag }}
    swiftAccountImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-swift-account:{{ cifmw_update_containers_tag }}
    swiftContainerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-swift-container:{{ cifmw_update_containers_tag }}
    swiftObjectImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-swift-object:{{ cifmw_update_containers_tag }}
    swiftProxyImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-swift-proxy-server:{{ cifmw_update_containers_tag }}
    testTempestImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-tempest-all:{{ cifmw_update_containers_tag }}
{% if (cifmw_update_containers_cindervolumes | length > 0  or
       (cifmw_update_containers_cindervolumes_extra is defined and cifmw_update_containers_cindervolumes_extra is mapping)) %}
    cinderVolumeImages:
{% endif %}
{% if cifmw_update_containers_cindervolumes | length > 0     %}
{% for vol in cifmw_update_containers_cindervolumes          %}
      {{ vol }}: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-cinder-volume:{{ cifmw_update_containers_tag }}
{% endfor                                                    %}
{% endif                                                     %}
{% if (cifmw_update_containers_cindervolumes_extra is defined and
       cifmw_update_containers_cindervolumes_extra is mapping) %}
{% for container_name, container_uri in cifmw_update_containers_cindervolumes_extra.items() %}
      {{ container_name }}: {{ container_uri }}
{% endfor %}
{% endif %}
{% if cifmw_update_containers_manilashares | length > 0      %}
    manilaShareImages:
{% for shares in cifmw_update_containers_manilashares        %}
      {{ shares }}: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-manila-share:{{ cifmw_update_containers_tag }}
{% endfor                                                    %}
{% endif                                                     %}
{% endif                                                     %}
{% if cifmw_update_containers_edpm_image_url is defined %}
    osContainerImage: {{ cifmw_update_containers_edpm_image_url }}
{% endif %}
{% if cifmw_update_containers_ipa_image_url is defined %}
    ironicPythonAgentImage: {{ cifmw_update_containers_ipa_image_url }}
{% endif %}
{% if cifmw_update_containers_ansibleee_image_url is defined %}
    ansibleeeImage: {{ cifmw_update_containers_ansibleee_image_url }}
{% endif %}
{% if cifmw_update_containers_ceilometersgcoreImage is defined %}
    ceilometerSgcoreImage: {{ cifmw_update_containers_ceilometersgcoreImage }}
{% endif %}
{% if cifmw_update_containers_edpmnodeexporterimage is defined %}
    edpmNodeExporterImage: {{ cifmw_update_containers_edpmnodeexporterimage }}
{% endif %}
{% if cifmw_update_containers_agentimage is defined %}
	    agentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-baremetal-operator-agent:{{ cifmw_update_containers_tag }}
{% endif %}
{% if cifmw_update_containers_watcher | bool  %}
    watcherAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-watcher-api:{{ cifmw_update_containers_tag }}
    watcherApplierImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-watcher-applier:{{ cifmw_update_containers_tag }}
    watcherDecisionEngineImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/{{ cifmw_update_containers_name_prefix }}-watcher-decision-engine:{{ cifmw_update_containers_tag }}
{% endif %}
