apiVersion: core.openstack.org/v1beta1
kind: OpenStackVersion
metadata:
  name: {{ cifmw_update_containers_metadata }}
  namespace: {{ cifmw_update_containers_namespace }}
spec:
  customContainerImages:
{% if cifmw_update_containers_openstack | bool %}
    aodhAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-aodh-api:{{ cifmw_update_containers_tag }}
    aodhEvaluatorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-aodh-evaluator:{{ cifmw_update_containers_tag }}
    aodhListenerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-aodh-listener:{{ cifmw_update_containers_tag }}
    aodhNotifierImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-aodh-notifier:{{ cifmw_update_containers_tag }}
    barbicanAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-barbican-api:{{ cifmw_update_containers_tag }}
    barbicanKeystoneListenerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-barbican-keystone-listener:{{ cifmw_update_containers_tag }}
    barbicanWorkerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-barbican-worker:{{ cifmw_update_containers_tag }}
    ceilometerCentralImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ceilometer-central:{{ cifmw_update_containers_tag }}
    ceilometerComputeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ceilometer-compute:{{ cifmw_update_containers_tag }}
    ceilometerIpmiImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ceilometer-ipmi:{{ cifmw_update_containers_tag }}
    ceilometerNotificationImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ceilometer-notification:{{ cifmw_update_containers_tag }}
    cinderAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-cinder-api:{{ cifmw_update_containers_tag }}
    cinderBackupImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-cinder-backup:{{ cifmw_update_containers_tag }}
    cinderSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-cinder-scheduler:{{ cifmw_update_containers_tag }}
    cinderVolumeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-cinder-volume:{{ cifmw_update_containers_tag }}
    edpmFrrImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-frr:{{ cifmw_update_containers_tag }}
    edpmIscsidImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-iscsid:{{ cifmw_update_containers_tag }}
    edpmLogrotateCrondImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-cron:{{ cifmw_update_containers_tag }}
    edpmMultipathdImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-multipathd:{{ cifmw_update_containers_tag }}
    edpmNeutronMetadataAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-neutron-metadata-agent-ovn:{{ cifmw_update_containers_tag }}
    edpmNeutronSriovAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-neutron-sriov-agent:{{ cifmw_update_containers_tag }}
    edpmOvnBgpAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ovn-bgp-agent:{{ cifmw_update_containers_tag }}
    glanceAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-glance-api:{{ cifmw_update_containers_tag }}
    heatAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-heat-api:{{ cifmw_update_containers_tag }}
    heatCfnapiImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-heat-api-cfn:{{ cifmw_update_containers_tag }}
    heatEngineImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-heat-engine:{{ cifmw_update_containers_tag }}
    horizonImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-horizon:{{ cifmw_update_containers_tag }}
    infraDnsmasqImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-neutron-server:{{ cifmw_update_containers_tag }}
    infraMemcachedImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-memcached:{{ cifmw_update_containers_tag }}
    ironicAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ironic-api:{{ cifmw_update_containers_tag }}
    ironicConductorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ironic-conductor:{{ cifmw_update_containers_tag }}
    ironicInspectorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ironic-inspector:{{ cifmw_update_containers_tag }}
    ironicNeutronAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ironic-neutron-agent:{{ cifmw_update_containers_tag }}
    ironicPxeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ironic-pxe:{{ cifmw_update_containers_tag }}
    keystoneAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-keystone:{{ cifmw_update_containers_tag }}
    manilaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-manila-api:{{ cifmw_update_containers_tag }}
    manilaSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-manila-scheduler:{{ cifmw_update_containers_tag }}
    manilaShareImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-manila-share:{{ cifmw_update_containers_tag }}
    mariadbImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-mariadb:{{ cifmw_update_containers_tag }}
    neutronAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-neutron-server:{{ cifmw_update_containers_tag }}
    novaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-nova-api:{{ cifmw_update_containers_tag }}
    novaComputeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-nova-compute:{{ cifmw_update_containers_tag }}
    novaConductorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-nova-conductor:{{ cifmw_update_containers_tag }}
    novaNovncImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-nova-novncproxy:{{ cifmw_update_containers_tag }}
    novaSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-nova-scheduler:{{ cifmw_update_containers_tag }}
    octaviaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-octavia-api:{{ cifmw_update_containers_tag }}
    octaviaHealthmanagerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-octavia-health-manager:{{ cifmw_update_containers_tag }}
    octaviaHousekeepingImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-octavia-housekeeping:{{ cifmw_update_containers_tag }}
    octaviaWorkerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-octavia-worker:{{ cifmw_update_containers_tag }}
    openstackClientImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-openstackclient:{{ cifmw_update_containers_tag }}
    ovnControllerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ovn-controller:{{ cifmw_update_containers_tag }}
    ovnControllerOvsImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ovn-base:{{ cifmw_update_containers_tag }}
    ovnNbDbclusterImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ovn-nb-db-server:{{ cifmw_update_containers_tag }}
    ovnNorthdImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ovn-northd:{{ cifmw_update_containers_tag }}
    ovnSbDbclusterImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-ovn-sb-db-server:{{ cifmw_update_containers_tag }}
    placementAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-placement-api:{{ cifmw_update_containers_tag }}
    rabbitmqImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-rabbitmq:{{ cifmw_update_containers_tag }}
    swiftAccountImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-swift-account:{{ cifmw_update_containers_tag }}
    swiftContainerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-swift-container:{{ cifmw_update_containers_tag }}
    swiftObjectImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-swift-object:{{ cifmw_update_containers_tag }}
    swiftProxyImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-swift-proxy-server:{{ cifmw_update_containers_tag }}
{% if cifmw_update_containers_cindervolumes | length > 0     %}
    cinderVolumeImages:
{% for vol in cifmw_update_containers_cindervolumes          %}
      {{ vol }}: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-cinder-volume:{{ cifmw_update_containers_tag }}
{% endfor                                                    %}
{% endif                                                     %}
{% if cifmw_update_containers_manilashares | length > 0      %}
    manilaShareImages:
{% for shares in cifmw_update_containers_manilashares        %}
      {{ shares }}: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-manila-share:{{ cifmw_update_containers_tag }}
{% endfor                                                    %}
{% endif                                                     %}
{% endif                                                     %}
{% if cifmw_update_containers_edpm_image_url is defined %}
    osContainerImage: {{ cifmw_update_containers_edpm_image_url }}
{% endif %}
{% if cifmw_update_containers_ipa_image_url is defined %}
    ironicPythonAgentImage: {{ cifmw_update_containers_ipa_image_url }}
{% endif %}
{% if cifmw_update_containers_ansibleee_image_url is defined %}
    ansibleeeImage: {{ cifmw_update_containers_ansibleee_image_url }}
{% endif %}
