apiVersion: core.openstack.org/v1beta1
kind: OpenStackVersion
metadata:
  name: {{ cifmw_update_containers_metadata }}
  namespace: {{ cifmw_update_containers_namespace }}
spec:
  customContainerImages:
{% if cifmw_update_containers_openstack | bool %}
    aodhAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/aodh-api:{{ cifmw_update_containers_tag }}
    aodhEvaluatorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/aodh-evaluator:{{ cifmw_update_containers_tag }}
    aodhListenerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/aodh-listener:{{ cifmw_update_containers_tag }}
    aodhNotifierImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/aodh-notifier:{{ cifmw_update_containers_tag }}
    barbicanAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/barbican-api:{{ cifmw_update_containers_barbican_custom_tag | default(cifmw_update_containers_tag) }}
    barbicanKeystoneListenerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/barbican-keystone-listener:{{ cifmw_update_containers_tag }}
    barbicanWorkerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/barbican-worker:{{ cifmw_update_containers_barbican_custom_tag | default(cifmw_update_containers_tag) }}
    ceilometerCentralImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ceilometer-central:{{ cifmw_update_containers_tag }}
    ceilometerComputeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ceilometer-compute:{{ cifmw_update_containers_tag }}
    ceilometerIpmiImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ceilometer-ipmi:{{ cifmw_update_containers_tag }}
    ceilometerNotificationImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ceilometer-notification:{{ cifmw_update_containers_tag }}
    cinderAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/cinder-api:{{ cifmw_update_containers_tag }}
    cinderBackupImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/cinder-backup:{{ cifmw_update_containers_tag }}
    cinderSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/cinder-scheduler:{{ cifmw_update_containers_tag }}
    cinderVolumeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/cinder-volume:{{ cifmw_update_containers_tag }}
    cloudkittyAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/cloudkitty-api:{{ cifmw_update_containers_tag }}
    cloudkittyProcImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/cloudkitty-processor:{{ cifmw_update_containers_tag }}
    designateAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/designate-api:{{ cifmw_update_containers_tag }}
    designateBackendbind9Image: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/designate-backend-bind9:{{ cifmw_update_containers_tag }}
    designateCentralImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/designate-central:{{ cifmw_update_containers_tag }}
    designateMdnsImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/designate-mdns:{{ cifmw_update_containers_tag }}
    designateProducerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/designate-producer:{{ cifmw_update_containers_tag }}
    # Hardcoded: unbound is an EDPM/RDO-specific image, never built by the Kolla project.
    designateUnboundImage: quay.rdoproject.org/podified-master-centos10/openstack-unbound:current
    designateWorkerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/designate-worker:{{ cifmw_update_containers_tag }}
    # Hardcoded: frr is an EDPM/RDO-specific image, never built by the Kolla project.
    edpmFrrImage: quay.rdoproject.org/podified-master-centos10/openstack-frr:current
    edpmIscsidImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/iscsid:{{ cifmw_update_containers_tag }}
    edpmLogrotateCrondImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/cron:{{ cifmw_update_containers_tag }}
    edpmMultipathdImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/multipathd:{{ cifmw_update_containers_tag }}
    edpmNeutronDhcpAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/neutron-dhcp-agent:{{ cifmw_update_containers_tag }}
    # Kolla uses neutron-metadata-agent (no -ovn suffix).
    edpmNeutronMetadataAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/neutron-metadata-agent:{{ cifmw_update_containers_tag }}
    edpmNeutronOvnAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/neutron-ovn-agent:{{ cifmw_update_containers_tag }}
    edpmNeutronSriovAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/neutron-sriov-agent:{{ cifmw_update_containers_tag }}
    # Hardcoded: ovn-bgp-agent is an EDPM/RDO-specific image, never built by the Kolla project.
    # Note: Kolla's neutron-bgp-dragent is a different service (Neutron BGP dynamic routing agent).
    edpmOvnBgpAgentImage: quay.rdoproject.org/podified-master-centos10/openstack-ovn-bgp-agent:current
    glanceAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/glance-api:{{ cifmw_update_containers_tag }}
    heatAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/heat-api:{{ cifmw_update_containers_tag }}
    heatCfnapiImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/heat-api-cfn:{{ cifmw_update_containers_tag }}
    heatEngineImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/heat-engine:{{ cifmw_update_containers_tag }}
    horizonImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/horizon:{{ cifmw_update_containers_tag }}
    infraDnsmasqImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/neutron-server:{{ cifmw_update_containers_tag }}
    infraMemcachedImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/memcached:{{ cifmw_update_containers_tag }}
    ironicAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ironic-api:{{ cifmw_update_containers_tag }}
    ironicConductorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ironic-conductor:{{ cifmw_update_containers_tag }}
    # Hardcoded: ironic-inspector was removed from Kolla master.
    # It was present in stable/2025.1 (last Kolla tag: 2025.1-rocky-10) but
    # docker/ironic/ironic-inspector no longer exists on the master branch.
    ironicInspectorImage: quay.rdoproject.org/podified-master-centos10/openstack-ironic-inspector:current
    ironicNeutronAgentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ironic-neutron-agent:{{ cifmw_update_containers_tag }}
    ironicPxeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ironic-pxe:{{ cifmw_update_containers_tag }}
    keystoneAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/keystone:{{ cifmw_update_containers_tag }}
    manilaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/manila-api:{{ cifmw_update_containers_tag }}
    manilaSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/manila-scheduler:{{ cifmw_update_containers_tag }}
    manilaShareImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/manila-share:{{ cifmw_update_containers_tag }}
    # Hardcoded: Kolla's mariadb-server is not compatible with the mariadb-operator.
    # The Galera operator expects RDO-specific entrypoints for gcomm:// URI bootstrap.
    mariadbImage: quay.rdoproject.org/podified-master-centos10/openstack-mariadb:current
    neutronAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/neutron-server:{{ cifmw_update_containers_tag }}
    novaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/nova-api:{{ cifmw_update_containers_tag }}
    novaComputeImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/nova-compute:{{ cifmw_update_containers_tag }}
    novaConductorImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/nova-conductor:{{ cifmw_update_containers_tag }}
    novaNovncImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/nova-novncproxy:{{ cifmw_update_containers_tag }}
    novaSchedulerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/nova-scheduler:{{ cifmw_update_containers_tag }}
    octaviaAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/octavia-api:{{ cifmw_update_containers_tag }}
    octaviaHealthmanagerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/octavia-health-manager:{{ cifmw_update_containers_tag }}
    octaviaHousekeepingImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/octavia-housekeeping:{{ cifmw_update_containers_tag }}
    octaviaWorkerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/octavia-worker:{{ cifmw_update_containers_tag }}
    # Kolla uses openstack-base (openstackclient is not available in Kolla).
    openstackClientImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/openstack-base:{{ cifmw_update_containers_tag }}
    ovnControllerImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ovn-controller:{{ cifmw_update_containers_tag }}
    ovnControllerOvsImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ovn-base:{{ cifmw_update_containers_tag }}
    ovnNbDbclusterImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ovn-nb-db-server:{{ cifmw_update_containers_tag }}
    ovnNorthdImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ovn-northd:{{ cifmw_update_containers_tag }}
    ovnSbDbclusterImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/ovn-sb-db-server:{{ cifmw_update_containers_tag }}
    placementAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/placement-api:{{ cifmw_update_containers_tag }}
    rabbitmqImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/rabbitmq:{{ cifmw_update_containers_tag }}
    # Hardcoded: Swift was removed from the Kolla project.
    # No docker/swift directory exists in Kolla master or stable/2025.1.
    # Last available Kolla tags for Swift images are 2024.2-rocky-9.
    swiftAccountImage: quay.rdoproject.org/podified-master-centos10/openstack-swift-account:current
    swiftContainerImage: quay.rdoproject.org/podified-master-centos10/openstack-swift-container:current
    swiftObjectImage: quay.rdoproject.org/podified-master-centos10/openstack-swift-object:current
    swiftProxyImage: quay.rdoproject.org/podified-master-centos10/openstack-swift-proxy-server:current
    # Hardcoded: tempest was never built by the Kolla project.
    # No docker/tempest directory exists in Kolla master or stable/2025.1.
    testTempestImage: quay.rdoproject.org/podified-master-centos10/openstack-tempest-all:current
{% if (cifmw_update_containers_cindervolumes | length > 0  or
       (cifmw_update_containers_cindervolumes_extra is defined and cifmw_update_containers_cindervolumes_extra is mapping)) %}
    cinderVolumeImages:
{% endif %}
{% if cifmw_update_containers_cindervolumes | length > 0     %}
{% for vol in cifmw_update_containers_cindervolumes          %}
      {{ vol }}: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/cinder-volume:{{ cifmw_update_containers_tag }}
{% endfor                                                    %}
{% endif                                                     %}
{% if (cifmw_update_containers_cindervolumes_extra is defined and
       cifmw_update_containers_cindervolumes_extra is mapping) %}
{% for container_name, container_uri in cifmw_update_containers_cindervolumes_extra.items() %}
      {{ container_name }}: {{ container_uri }}
{% endfor %}
{% endif %}
{% if cifmw_update_containers_manilashares | length > 0      %}
    manilaShareImages:
{% for shares in cifmw_update_containers_manilashares        %}
      {{ shares }}: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/manila-share:{{ cifmw_update_containers_tag }}
{% endfor                                                    %}
{% endif                                                     %}
{% endif                                                     %}
{% if cifmw_update_containers_edpm_image_url is defined %}
    osContainerImage: {{ cifmw_update_containers_edpm_image_url }}
{% endif %}
{% if cifmw_update_containers_ipa_image_url is defined %}
    ironicPythonAgentImage: {{ cifmw_update_containers_ipa_image_url }}
{% endif %}
{% if cifmw_update_containers_ansibleee_image_url is defined %}
    ansibleeeImage: {{ cifmw_update_containers_ansibleee_image_url }}
{% endif %}
{% if cifmw_update_containers_ceilometersgcoreImage is defined %}
    ceilometerSgcoreImage: {{ cifmw_update_containers_ceilometersgcoreImage }}
{% endif %}
{% if cifmw_update_containers_edpmnodeexporterimage is defined %}
    edpmNodeExporterImage: {{ cifmw_update_containers_edpmnodeexporterimage }}
{% endif %}
{% if cifmw_update_containers_agentimage is defined %}
    agentImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/baremetal-operator-agent:{{ cifmw_update_containers_tag }}
{% endif %}
{% if cifmw_update_containers_watcher | bool  %}
    watcherAPIImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/watcher-api:{{ cifmw_update_containers_tag }}
    watcherApplierImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/watcher-applier:{{ cifmw_update_containers_tag }}
    # Kolla uses watcher-engine (not watcher-decision-engine).
    watcherDecisionEngineImage: {{ cifmw_update_containers_registry }}/{{ cifmw_update_containers_org }}/watcher-engine:{{ cifmw_update_containers_tag }}
{% endif %}
