apiVersion: core.openstack.org/v1beta1
kind: OpenStackVersion
metadata:
  name: {{ cifmw_update_containers_metadata }}
  namespace: {{ cifmw_update_containers_namespace }}
spec:
  customContainerImages:
    barbicanAPIImage: quay.io/podified-antelope-centos9/openstack-barbican-api:current-podified-luna
    barbicanWorkerImage: quay.io/podified-antelope-centos9/openstack-barbican-worker:current-podified-luna
