{% if zuul.job is defined %}
Zuul job: {{ zuul.job }}
Change URL: {{ zuul.change_url }}
{% else %}
Development environment not started by Zuul
{% endif %}

Custom repositories:
{% for repo in cifmw_reproducer_repositories %}
{{ repo.src }} in {{ repo.dest }} at {{ repo.refspec | default(repo.version | default('HEAD')) }}
{% endfor %}

Default repositories (might get overridden by above list):
{% for repo in cifmw_reproducer_default_repositories %}
{{ repo.src }} in {{ repo.dest }} at {{ repo.refspec | default(repo.version | default('HEAD')) }}
{% endfor %}
