---
{% for play in zuul_plays %}
- name: "Reproducer for {{ job_id }}: {{ play }}"
  vars:
    cifmw_extras:
      - '@~/{{ job_id }}-params/custom-params.yml'
      - '@~/{{ job_id }}-params/install-yamls-params.yml'
      - '@~/{{ job_id }}-params/reproducer_params.yml'
{% if (operator_content_provider | bool) or (openstack_content_provider | bool) %}
      - '@~/{{ job_id }}-params/content-provider.yml'
{% endif %}
      - cifmw_zuul_target_host=controller-0
      - cifmw_openshift_user=kubeadmin
      - cifmw_openshift_kubeconfig=/home/zuul/.kube/config
      - cifmw_openshift_login_skip_tls_verify=true
      - cifmw_openshift_setup_skip_internal_registry_tls_verify=true
    cifmw_zuul_target_host: controller-0
  ansible.builtin.import_playbook: {{ play }}
{% endfor %}
