#!/bin/bash
set -e
pushd {{ run_directory}}
{% for export in exports | dict2items %}
export {{ export.key }}="{{ export.value }}"
{% endfor %}

# NOTE(dpawlik): During the ZIronic deployment, the reproducer-variables.yml
# is generated, which might not be up-to-date what we want to achieve
# using Zuul job. It means, that if we want to provide some variables
# that should be respected by e.g. deploy-architecture.sh script,
# we need to add it as a last argument, then if the variable
# is defined earlier, it would not be respected.

ansible-playbook -i ~/ci-framework-data/artifacts/zuul_inventory.yml \
{% for extravar in default_extravars %}
  -e {{ extravar }} \
{% endfor %}
{% for extravar in extravars %}
  -e {{ extravar }} \
{% endfor %}
  $( [[ -f ~/ci-framework-data/parameters/current-zuul-variables.yml ]] && echo "-e @~/ci-framework-data/parameters/current-zuul-variables.yml" ) \
  {{ playbook }} --flush-cache $@
popd
