polkit.addRule(function(action, subject) {
  if (action.id == "org.libvirt.unix.manage" &&
      subject.local && subject.active && subject.user == "{{ cifmw_libvirt_manager_user }}") {
    return polkit.Result.YES;
  }
});
