<disk type='volume' device='disk'>
  <driver name='qemu' type='qcow2' />
  <source pool='{{ _pool }}' volume='{{ vol_prefix }}-vol-{{ vol_id }}' />
  {% if vol_bus == 'scsi' %}
  <target dev='sd{{ _suffix[vol_id] }}' bus='scsi' />
  <address type='drive' controller='0' bus='0' target='0' unit='{{ vol_id }}'/>
  {% else %}
  <target dev='vd{{ _suffix[vol_id] }}' bus='{{ vol_bus }}' />
  {% endif %}
</disk>
