{{ (item == 'crc') | ternary('ocp', item) }}s:
  hosts:
{% for host in hosts %}
    {{ host.key }}:
      ansible_host: {{ host.key }}.utility
      ansible_user: {{ _cifmw_libvirt_manager_layout.vms[item].admin_user | default('zuul') }}
      ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
{% if item is match('^crc.*')                            %}
      ansible_ssh_private_key_file: ~/.ssh/crc_key
{% elif item is match('^ocp.*')                          %}
      ansible_ssh_private_key_file: ~/.ssh/devscripts_key
{% else                                                     %}
      ansible_ssh_private_key_file: ~/.ssh/id_cifw
{% endif                                                    %}
{% endfor %}
