#!/usr/bin/bash
nmcli connection add connection.type 802-3-ethernet \
    connection.id eth0 \
    connection.interface-name eth0 \
{% if _is_ipv6 %}
    ipv6.method manual \
    ipv6.addresses {{ _ip_address }}/{{ _ip_prefix }} \
{% else %}
    ipv4.method manual \
    ipv4.addresses {{ _ip_address }}/{{ _ip_prefix }} \
{% endif %}
{% if _ip_gw is defined             %}
{%     if _is_ipv6                  %}
    ipv6.gateway {{ _ip_gw }} \
{%     else                         %}
    ipv4.gateway {{ _ip_gw }} \
{%     endif                        %}
{% endif                            %}
{% if _ip_dns is defined            %}
{%     if _is_ipv6                  %}
    ipv6.dns {{ _ip_dns }}
{%     else                         %}
    ipv4.dns {{ _ip_dns }}
{%     endif                        %}
{% endif                            %}
nmcli connection up eth0
