#!/usr/bin/bash
nmcli connection add connection.type 802-3-ethernet \
    connection.id eth0 \
    connection.interface-name eth0 \
    ipv4.method manual \
    ipv4.addresses {{ _ip_address }} \
    ipv4.gateway {{ _ip_gw }} \
    ipv4.dns {{ _ip_dns }}

nmcli connection up eth0
