# Managed by ci-framework/libvirt_manager
# DHCP options for VM types
{% for vm_type, options in _lm_dhcp_options.items() %}
# Options for {{ vm_type }} VMs
{% for option in options %}
dhcp-option=tag:{{ vm_type }},{{ option }}
{% endfor %}
{% endfor %}
