---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cifmw_deploy_loki_operator_namespace }}
  labels:
    name: {{ cifmw_deploy_loki_operator_namespace }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ cifmw_deploy_loki_subscription_name }}
  namespace: {{ cifmw_deploy_loki_operator_namespace }}
spec:
  upgradeStrategy: Default
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ cifmw_deploy_loki_subscription_name }}
  namespace: {{ cifmw_deploy_loki_operator_namespace }}
spec:
  channel: {{ cifmw_deploy_loki_subscription_channel }}
  name: {{ cifmw_deploy_loki_subscription_name }}
  source: {{ cifmw_deploy_loki_catalog_source }}
  sourceNamespace: {{ cifmw_deploy_loki_catalog_namespace }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cifmw_deploy_loki_minio_namespace }}
  labels:
    name: {{ cifmw_deploy_loki_minio_namespace }}
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: minio
  name: minio
  namespace: {{ cifmw_deploy_loki_minio_namespace }}
spec:
  containers:
    - name: minio
      image: {{ cifmw_deploy_loki_minio_image }}
      command:
        - /bin/bash
        - -c
        - |
          mkdir -p /data/loki && \
          minio server /data
      env:
        - name: MINIO_ACCESS_KEY
          value: "{{ cifmw_deploy_loki_minio_access_key }}"
        - name: MINIO_SECRET_KEY
          value: "{{ cifmw_deploy_loki_minio_secret_key }}"
      volumeMounts:
        - mountPath: /data
          name: storage
  volumes:
    - name: storage
      persistentVolumeClaim:
        claimName: minio-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
  namespace: {{ cifmw_deploy_loki_minio_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ cifmw_deploy_loki_minio_pvc_storage }}
  storageClassName: {{ cifmw_deploy_loki_minio_storage_class }}
---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: {{ cifmw_deploy_loki_minio_namespace }}
spec:
  selector:
    app: minio
  ports:
    - name: api
      protocol: TCP
      port: 9000
    - name: console
      protocol: TCP
      port: 9090
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: minio-console
  namespace: {{ cifmw_deploy_loki_minio_namespace }}
spec:
{% if cifmw_deploy_loki_minio_route_console_host | length > 0 %}
  host: {{ cifmw_deploy_loki_minio_route_console_host }}
{% endif %}
  to:
    kind: Service
    name: minio
    weight: 100
  port:
    targetPort: console
  wildcardPolicy: None
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: minio-api
  namespace: {{ cifmw_deploy_loki_minio_namespace }}
spec:
{% if cifmw_deploy_loki_minio_route_api_host | length > 0 %}
  host: {{ cifmw_deploy_loki_minio_route_api_host }}
{% endif %}
  to:
    kind: Service
    name: minio
    weight: 100
  port:
    targetPort: api
  wildcardPolicy: None
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ cifmw_deploy_loki_s3_secret_name }}
  namespace: {{ cifmw_deploy_loki_openstack_namespace }}
stringData:
  access_key_id: "{{ cifmw_deploy_loki_minio_access_key }}"
  access_key_secret: "{{ cifmw_deploy_loki_minio_secret_key }}"
  bucketnames: "{{ cifmw_deploy_loki_s3_bucket }}"
  endpoint: "http://minio.{{ cifmw_deploy_loki_minio_namespace }}.svc.cluster.local:9000"
