---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cifmw_deploy_loki_operator_namespace }}
  labels:
    name: {{ cifmw_deploy_loki_operator_namespace }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ cifmw_deploy_loki_subscription_name }}
  namespace: {{ cifmw_deploy_loki_operator_namespace }}
spec:
  upgradeStrategy: Default
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ cifmw_deploy_loki_subscription_name }}
  namespace: {{ cifmw_deploy_loki_operator_namespace }}
spec:
  channel: {{ cifmw_deploy_loki_subscription_channel }}
  name: {{ cifmw_deploy_loki_subscription_name }}
  source: {{ cifmw_deploy_loki_catalog_source }}
  sourceNamespace: {{ cifmw_deploy_loki_catalog_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ cifmw_deploy_loki_s3_secret_name }}
  namespace: {{ cifmw_deploy_loki_openstack_namespace }}
stringData:
  access_key_id: "{{ cifmw_deploy_loki_minio_access_key }}"
  access_key_secret: "{{ cifmw_deploy_loki_minio_secret_key }}"
  bucketnames: "{{ cifmw_deploy_loki_s3_bucket }}"
  endpoint: "http://minio.{{ cifmw_deploy_loki_minio_namespace }}.svc.cluster.local:9000"
