[global]
batch = yes
nodes = {{ cifmw_sosreport_nodes | join(",") }}
tmp-dir = {{ cifmw_sosreport_tmp_dir }}

[collect]
alloptions = yes
compression-type = gzip
ssh-key = {{ cifmw_sosreport_nodes_sshkey }}
verify = yes

enable-plugins = {{ cifmw_sosreport_enable_plugins | join(",") }}
