# Glance secrets used to configure glance with ceph S3 backend
apiVersion: v1
kind: Secret
metadata:
  name: s3glance
stringData:
  s3glance.conf: |
    [default_backend]
    s3_store_host = {{ ceph_s3_endpoint }}
    s3_store_access_key = {{ ceph_s3_access_key }}
    s3_store_secret_key = {{ ceph_s3_secret_key }}
    s3_store_bucket = {{ ceph_s3_bucket }}
    s3_store_cacert = {{ cifmw_ceph_client_rgw_store_cacert }}
