# Disable DNS
port=0
# Avoid conflict with other DNS listening on lo
except-interface=lo
user=dnsmasq
group=dnsmasq
pid-file=/var/run/cifmw-dnsmasq.pid
dhcp-leasefile=/var/lib/dnsmasq/cifmw-dnsmasq.leases
{% for key,val in cifmw_dnsmasq_global_options.items() %}
{%   if val is not none                                %}
{{ key }}={{ val }}
{%   else                                              %}
{{ key }}
{% endif                                               %}
{% endfor                                              %}

conf-dir={{ cifmw_dnsmasq_basedir }},*.conf
