# Managed by ci-framework/dnsmasq
user=dnsmasq
group=dnsmasq
pid-file=/var/run/cifmw-dnsmasq.pid
dhcp-leasefile=/var/lib/dnsmasq/cifmw-dnsmasq.leases

{% if cifmw_dnsmasq_raw_config | length > 0 -%}
{{ cifmw_dnsmasq_raw_config }}
{% endif %}

conf-dir={{ cifmw_dnsmasq_basedir }},*.conf
dhcp-hostsdir="{{ cifmw_dnsmasq_basedir }}/dhcp-hosts.d"
