# Managed by ci-framework/dnsmasq

{% for forwarder in cifmw_dnsmasq_forwarders -%}
server={{ forwarder }}
{% endfor                                     %}

{% if cifmw_dnsmasq_domainname != ''         -%}
domain={{ cifmw_dnsmasq_domainname }}
local=/{{ cifmw_dnsmasq_domainname }}/
{% endif                                      %}

{% for entry in cifmw_dnsmasq_addresses      -%}
address=/{{ entry.fqdn }}/{{ entry.address }}
{% endfor                                     %}
