# Managed by ci-framework/dnsmasq

{% if cifmw_dnsmasq_enable_dns is false            -%}
# DNS is disabled
port=0
{% endif                                           -%}

{% if cifmw_dnsmasq_exclude_lo                     -%}
# Avoid conflict with other DNS listening on lo
except-interface=lo
bind-dynamic
{% endif                                            %}

{% for listener in cifmw_dnsmasq_listen_addresses
   if listener | length > 0                        -%}
listen-address={{ listener }}
{%   endfor                                         %}

{% for interface in cifmw_dnsmasq_interfaces
   if interface != "lo" and interface | length > 0 -%}
interface={{ interface }}
{% endfor                                           %}
