# Managed by ci-framework/dnsmasq

{% if cifmw_dnsmasq_enable_dns is false               -%}
# DNS is disabled
port=0
{% endif                                               %}

# Avoid conflict with other DNS listening on lo
except-interface=lo

{% if cifmw_dnsmasq_listen_addresses | length > 0     -%}
listen_address={{ cifmw_dnsmasq_listen_addresses |
                  reject('equalto', '127.0.0.1') |
                  join(',') }}
{% endif                                               %}

{% for interface in cifmw_dnsmasq_interfaces          -%}
{%-  if interface != "lo"                             -%}
interface={{ interface }}
{%   endif                                             %}
{% endfor                                              %}
