# Managed by ci-framework/dnsmasq
{% if cifmw_dnsmasq_network_listen_dns is defined and cifmw_dnsmasq_network_listen_dns | length > 0 %}
{%   for listener in cifmw_dnsmasq_network_listen_dns if listener | length > 0                      %}
listen-address={{ listener }}
{%   endfor                                                                                         %}
{% endif                                                                                            %}
{% for range in cifmw_dnsmasq_network_definition['ranges']                                          %}
{%   if range.start_v4 is defined and range.start_v4 | length > 0                                   %}
dhcp-range=set:{{ range.label }},{{ range.start_v4 }},static,{{ (range.start_v4 + "/" + range.prefix_length_v4 | default(24) | string) |  ansible.utils.ipaddr('netmask') }},{{ range.ttl | default('1h') }}
{%   endif                                                                                          %}
{%   if range.start_v6 is defined and range.start_v6 | length > 0                                   %}
dhcp-range=set:{{ range.label }},{{ range.start_v6 }},static,{{ range.prefix_length_v6 | default('64') }},{{ range.ttl | default('1h') }}
{%   endif                                                                                          %}
{%   for option in range['options'] | default([])                                                   %}
dhcp-option=tag:{{ range.label }},{{ option }}
{%   endfor                                                                                         %}
{%   for option in range['options_force'] | default([])                                             %}
dhcp-option-force=tag:{{ range.label }},{{ option }}
{%   endfor                                                                                         %}
{% endfor                                                                                           %}
## END of network configuration
