Host {{ (_config.patterns | default(cifmw_ssh_jumper_defaults.patterns) + [_config.hostname]) | join(' ') }}
    Hostname {{ _config.hostname }}
{% if _config.proxy_host is defined and _config.proxy_host is not none %}
    ProxyJump {{ _config.proxy_user | default(cifmw_ssh_jumper_defaults.user) }}@{{ _config.proxy_host }}
{% endif %}
    User {{ _config.user | default(cifmw_ssh_jumper_defaults.user) }}
{% if _config.identity_file is defined and _config.identity_file is not none %}
    IdentityFile {{ _config.identity_file }}
{% endif %}
    StrictHostKeyChecking {{ _config.strict_host_key_checking | default(cifmw_ssh_jumper_defaults.strict_host_key_checking) }}
    UserKnownHostsFile {{ _config.user_known_hosts_file | default (cifmw_ssh_jumper_defaults.user_known_hosts_file) }}
