Host {{ (cifmw_ssh_jumper_config.patterns | default([]) + [cifmw_ssh_jumper_config.hostname]) | join(' ') }}
    Hostname {{ cifmw_ssh_jumper_config.hostname }}
{% if cifmw_ssh_jumper_config.proxy_host is defined and cifmw_ssh_jumper_config.proxy_host is not none %}
    ProxyJump {{ cifmw_ssh_jumper_config.proxy_user | default('zuul') }}@{{ cifmw_ssh_jumper_config.proxy_host }}
{% endif %}
    User {{ cifmw_ssh_jumper_config.user | default('zuul') }}
{% if cifmw_ssh_jumper_config.identity_file is defined and cifmw_ssh_jumper_config.identity_file is not none %}
    IdentityFile {{ cifmw_ssh_jumper_config.identity_file }}
{% endif %}
    StrictHostKeyChecking {{ cifmw_ssh_jumper_config.strict_host_key_checking | default('no') }}
    UserKnownHostsFile {{ cifmw_ssh_jumper_config.user_known_hosts_file | default ('/dev/null') }}
