---
apiVersion: v1
kind: Pod
metadata:
  name: {{ cifmw_shiftstack_client_pod_name }}
  namespace: {{ cifmw_shiftstack_client_pod_namespace }}
spec:
  containers:
  - args:
    - infinity
    command:
    - /bin/sleep
    image: {{ cifmw_shiftstack_client_pod_image }}
    imagePullPolicy: Always
    name: {{ cifmw_shiftstack_client_pod_name }}
    resources: {}
    securityContext:
      privileged: true
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
    - mountPath: /home/cloud-admin/.original-config/openstack/clouds.yaml
      name: openstack-config
      subPath: clouds.yaml
    - mountPath: /home/cloud-admin/.original-config/openstack/secure.yaml
      name: openstack-config-secret
      subPath: secure.yaml
    - mountPath: /home/cloud-admin/.original-config/cert/
      name: openstack-cert
      readOnly: true
    - name: installation-volume
      mountPath: {{ cifmw_shiftstack_shiftstackclient_installation_dir }}
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  preemptionPolicy: PreemptLowerPriority
  priority: 0
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext: {}
  terminationGracePeriodSeconds: 0
  tolerations:
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 300
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 300
  volumes:
  - configMap:
      defaultMode: 420
      name: openstack-config
    name: openstack-config
  - name: openstack-config-secret
    secret:
      defaultMode: 420
      secretName: openstack-config-secret
  - name: openstack-cert
    secret:
      defaultMode: 292
      secretName: rootca-public
  - name: installation-volume
    persistentVolumeClaim:
      claimName: {{ cifmw_shiftstack_client_pod_name }}-pvc
