apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ cifmw_shiftstack_client_pod_name }}-pvc
  namespace: openstack
spec:
  storageClassName: {{ cifmw_shiftstack_sc }}
  accessModes:
    - ReadWriteOnce
    - ReadWriteMany
    - ReadOnlyMany
  resources:
    requests:
      storage: 2Gi
