apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ cifmw_shiftstack_client_pod_name }}-pvc
  namespace: {{ cifmw_shiftstack_client_pod_namespace }}
spec:
  storageClassName: {{ cifmw_shiftstack_sc }}
  accessModes: {{ cifmw_shiftstack_storage_access_mode }}
  resources:
    requests:
      storage: 2Gi
