---
# source: nova05epsilon/edpm-nodeset-values-post-ceph/values.yaml.j2
# Auto-populates ceph_conf from files written by ceph.yml hook.
# The ceph.yml post_stage_run hook (via cifmw_ceph_client role) writes
# Ceph config files to cifmw_ceph_client_fetch_dir (default /tmp/).
# This template reads those files and provides them as base64-encoded
# values under data.ceph_conf (DCN convention).
{% set _fetch_dir = cifmw_ceph_client_fetch_dir | default('/tmp') %}
{% set _cluster = cifmw_ceph_client_cluster | default('ceph') %}
{% set _conf_file = (_fetch_dir, _cluster ~ '.conf') | path_join %}
{% set _keyring_file = (_fetch_dir, _cluster ~ '.client.openstack.keyring') | path_join %}
data:
  ceph_conf:
    {{ _cluster }}.client.openstack.keyring: {{ lookup('file', _keyring_file, rstrip=False) | b64encode }}
    {{ _cluster }}.conf: {{ lookup('file', _conf_file, rstrip=False) | b64encode }}
