---
service_type: rgw
service_id: rgw
service_name: rgw.rgw
placement:
  hosts:
{% for host in _hosts %}
  - {{ host }}
{% endfor %}
networks:
- {{ cifmw_cephadm_rgw_network }}
spec:
  rgw_frontend_port: 8082
  rgw_realm: default
  rgw_zone: default
---
service_type: ingress
service_id: rgw.default
service_name: ingress.rgw.default
placement:
  count: 1
spec:
  backend_service: rgw.rgw
  frontend_port: 8080
  monitor_port: 8999
  virtual_ip: {{ cifmw_cephadm_rgw_vip }}
  virtual_interface_networks:
  - {{ cifmw_cephadm_rgw_network }}
