---
apiVersion: v1
kind: Secret
metadata:
  name: {{ node_name }}-nmstate-secret
  namespace: {{ cimfw_deploy_bmh_namespace }}
type: Opaque
stringData:
 nmstate: |-
  {{ node_nmstate | to_nice_yaml(indent=2) | indent(4)  }}
