---
apiVersion: v1
kind: Secret
metadata:
  name: {{ node_name }}-bmc-secret
  namespace: {{ cimfw_deploy_bmh_namespace }}
type: Opaque
stringData:
  username: {{ node_user }}
  password: {{ node_password }}
