---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ node_name }}
  namespace: {{ cimfw_deploy_bmh_namespace }}
{%- if cimfw_deploy_bmh_disable_inspection %}
  annotations:
    inspect.metal3.io: "disabled"
{% endif %}
labels:
  app: openstack
  workload: {{ node_name.split('-')[0] }}
spec:
  bmc:
    address: {{ node_data['connection'] }}
    credentialsName: {{ node_name }}-bmc-secret
    disableCertificateVerification: {{ cimfw_deploy_bmh_disable_certificate_validation }}
{% for nic in (node_data['nics'] | default([])) if nic['network'] == cimfw_deploy_bmh_boot_interface %}
  bootMACAddress: {{ nic.mac }}
{% endfor                                                                            %}
  bootMode: {{ node_data['boot_mode'] }}
  online: {{ 'true' if node_data['status'] | default("") == "running" else 'false' }}
{%- if 'root_device_hint' in node_data %}
  rootDeviceHints:
    {{ cimfw_deploy_bmh_root_device_hint_field }}: {{ node_data['root_device_hint'] }}
{% endif                                                                             %}
{%- if 'nmstate' in node_data %}
  preprovisioningNetworkDataName: {{ node_name }}-nmstate-secret
{% endif %}
